:ruby
  javascript do
    (%q|
      $(document).ready(function() {
          var hidden_field = $('input#tag');
          $('#tags a.tagger').live('click', function(event) {
            hidden_field.val($(this).html());
            $('#tagging_form').submit();
            event.preventDefault();
          });

          var renamer = $('#tags #tag a.renamer');
          renamer.live('click', function(event) {
            var renamer_siblings = $(this).siblings('#tag a.tagger');
            var tag = $(renamer_siblings[0]).html();
            var tag_id = $(renamer_siblings[0]).attr("data-content");
            var newtag = prompt('Rename to', tag);
            if(newtag != tag && newtag != '' && newtag != null){
              $.ajax({
                url: "/admin/issues/" + tag_id,
                type: 'PUT',
                data: "name=" + newtag
              });
            }
            event.preventDefault();
          });

          var select_all_hook = $('a#select_all');
          select_all_hook.live('click', function(event) {
            $("div#taggables input:checkbox").attr('checked', 'checked');
            event.preventDefault();
          });

          var select_none_hook = $('a#select_none');
          select_none_hook.live('click', function(event) {
            $("div#taggables input:checkbox").attr('checked', '');
            event.preventDefault();
          });

      });
    |)
  end

.span-24
  = form_tag(admin_taggings_path, :remote => true, :id => "tagging_form") do
    .span-12
      %h2
        = @title
      = link_to "All", '#', :id => 'select_all'
      = link_to "None", '#', :id => 'select_none'
      %div#taggables
        = render :partial => "admin/taggings/taggables.html.haml"
      = hidden_field_tag :taggable_type, @taggable_type
    .span-12.last
      %h2 Issues
      %div#tags
        = render :partial => "tags.html.haml"
      = hidden_field_tag :tag, nil, :id => "tag"
  %p
    = form_tag(admin_issues_path, :remote => true, :id => "new_tag_form") do
      = text_field_tag :name
      = submit_tag "Add new tag"
