- if person.website_one?
  %li= link_to_with_domain("Website", person.website_one)
- if person.website_two?
  %li= link_to_with_domain("Website", person.website_two)
- if person.webmail?
  %li= link_to_with_domain("Web E-Mail", person.webmail)
- if person.email?
  %li!= mail_to(person.email, :encode => 'hex')
- if person.youtube_id?
  %li!= "Youtube: " + link_to(person.youtube_id, @person.youtube_url)
