- if person.website_one?
  %li= link_to_with_domain(t('.website_one'), person.website_one)
- if person.website_two?
  %li= link_to_with_domain(t('.website_two'), person.website_two)
- if person.webmail?
  %li= link_to_with_domain(t('.webmail'), person.webmail)
- if person.email?
  %li!= mail_to(person.email, nil, :encode => 'hex')
- if person.youtube_id?
  %li!= t('.youtube') + ": " + link_to(person.youtube_id, person.youtube_url)
- if !person.opencongress_url.blank?
  %li= link_to t('.opencongress', :full_name => person.full_name), person.opencongress_url
