= render 'nav'

.grid_12.omega

  %h1
    = @person.official_name
    = surround '(', ')' do
      = @person.current_role.try(:affiliation_fm)


  - if defined?(show_tools)
    %aside.take_action.full_lined
      = render :partial => 'shared/share_tools', :locals => {:message => "Share", :title => (yield(:title) || "OpenGovernment"), :url => request.url}
      .hov.track_buttons
        %h4.button
          %span Track
          .arrow
        .drop.button
          %ul
            %li.rss 
              = link_to "All Votes", {:format => :atom}
            %li.email 
              %a
                %span
                Email Alerts

      .write_button
        %span.button
          %span= link_to('Contact this rep', {:action => :contact}, :class => 'modal')

      .support_buttons
        %a.support.button(rel='tipsy' title='Sign in to vote!')
          %span I Support this Rep!
        %a.oppose.button(rel='tipsy' title='Sign in to vote!')
          %span I Oppose this Rep!
