= render 'nav'

%h1
  = @person.official_name
  .subhead
    #{@person.try(:party)}, #{@person.try(:district_name)}


- if defined?(show_tools)
  %aside.take_action.full_lined
    %h4.pad Share this

    = render :partial => 'shared/share_tools', :locals => {:message => "Share", :title => "I'm reading about #{@state.abbrev} #{@person.official_name} on OpenGovernment.org", :url => request.url}
    %ul.track_buttons
      %li.rss
        = link_to t('.all_votes'), {:format => :atom}
      %li.email 
        %a
          %span.icon
          = t('.email_alerts') 
          %span.soon= t('.coming_soon')

    .write_button
      %span.button
        %span= link_to('.contact', {:action => :contact}, :class => 'modal')

    -# TODO: These are turned off for now. Please implement.
    .support_buttons(style="display: none;")
      %a.support.button(rel='tipsy' title='Give a personal vote "aye" or "nay" for this person &mdash; coming soon!')
        %span I Support this Rep!
      %a.oppose.button(rel='tipsy' title='Give a personal vote "aye" or "nay" for this person &mdash; coming soon!')
        %span I Oppose this Rep!
