.grid_16.alpha

  - if defined?(show_tools)
    %aside.take_action
      = render :partial => 'shared/share_tools', :locals => {:message => "Share", :title => (yield(:title) || "OpenGovernment"), :url => request.url}
      .hov.track_buttons
        %h4.button
          %span Track
          .arrow
        .drop.button
          %ul
            %li.rss 
              = link_to "All Votes", {:format => :atom}
            %li.email 
              %a
                %span
                Email Alerts

      .hov.write_buttons
        %h4.button
          %span Write
          .arrow
        .drop.button
          %ul
            %li.email 
              %a Email
            %li.twitter 
              %a Twitter
            %li.facebook 
              %a Facebook

      .support_buttons
        %a.support.button(rel='tipsy' title='Sign in to vote!')
          %span I Support this Rep!
        %a.oppose.button(rel='tipsy' title='Sign in to vote!')
          %span I Oppose this Rep!
  %h1
    = @person.official_name
    = surround '(', ')' do
      = @person.current_role.try(:affiliation_fm)
  %hr

= render(:partial => 'nav')