- title("Discuss #{@person.official_name}")

.grid_16.alpha
  %h1
    = @person.official_name
    - surround '(', ')' do
      = @person.current_role.try(:affiliation_fm)
  %hr

= render(:partial => 'nav')

.grid_12.alpha
  #disqus_thread
  = embed_disqus("person-#{@person.id}")
