- title(t '.title', :legislature_name => @state.legislature.name, :session_name => current_session_name )

= render 'shared/appeal'

%h1= t '.title', :legislature_name => @state.legislature.name, :session_name => current_session_name 

.intro

  %p= t '.intro'
  %br

  .find_box
    = render 'shared/find_my_rep_form', :narrow => true

%ul.tabs.chamber_tabs
  %li.senate= link_to @state.upper_chamber.short_name, url_for(params.merge({:chamber => 'upper'})), :class => (@current_tab == :upper ? 'active' : '')
  %li.divider &#124;  
  %li.house= link_to @state.lower_chamber.short_name, url_for(params.merge({:chamber => 'lower'})), :class => (@current_tab == :lower ? 'active' : '')

.sort.grid_12.alpha
  %ul.people_sorts.sorts
    %li.sort_label
      Sort by
    - @sorts.each do |k, v|
      %li
        = link_to(v, url_for(params.merge(:sort => k)), :class => k.to_s == @sort ? 'active' : nil)

#chamber
  = render :partial => 'chamber'
