- title("#{@state.name} Representatives")
- dropdown('.sort_hot', 'ul.people_sorts')

%h1.grid_16
  = "#{@state.name} Representatives"

%hr.grid_16

.grid_16
  .sort.button
    .sort_hot
      %span.sort_label 
        Sort by 
        %strong Name
      .arrow   
    %ul.button.people_sorts
      %li
        = link_to "Name", url_for(:sort => 'name'), :remote => true
      %li 
        = link_to "District", url_for(:sort => 'district'), :remote => true
      %li 
        = link_to "Public Interest", url_for(:sort => 'citations'), :remote => true

  %ul.tabs
 
    %li
      = link_to @state.upper_chamber.name, url_for(:action => 'upper', :sort => params[:sort]), :class => (@current_tab == :upper ? 'active' : '')
    %li.divider &#124;  
    %li
      = link_to @state.lower_chamber.name, url_for(:action => 'lower', :sort => params[:sort]), :class => (@current_tab == :lower ? 'active' : '')

%hr.grid_16

.grid_16
  #chamber
    = render :partial => 'chamber'
