- title("#{@state.name} Representatives")
- dropdown('.sort_hot', 'ul.people_sorts')

%h1.grid_16
  = "#{@state.name} Representatives"

%hr.grid_16

= render :partial => 'shared/left_nav_toplevel'

.grid_12
  %p.intro= t '.intro'

  %hr.push_bottom
  
  %ul.tabs
 
    %li
      = link_to @state.upper_chamber.name, url_for(:action => 'upper', :sort => @sort), :class => (@current_tab == :upper ? 'active' : '')
    %li.divider &#124;  
    %li
      = link_to @state.lower_chamber.name, url_for(:action => 'lower', :sort => @sort), :class => (@current_tab == :lower ? 'active' : '')

  %hr.push_bottom

  .sort.grid_12.alpha.push_bottom
    %ul.people_sorts.sorts
      %li.sort_label
        Sort by
      - @sorts.each do |k, v|
        %li
          = link_to(v, url_for(:sort => k), :class => k.to_s == @sort ? 'active' : nil)

  %hr.push_bottom

  #chamber
    = render :partial => 'chamber'
