- title("#{@state.name} Representatives")
- dropdown('.sort_hot', 'ul.people_sorts')

%h1.grid_16
  = "#{@state.name} Representatives"

%hr.grid_16

= render :partial => 'shared/left_nav_toplevel'

.grid_12
  .sort.button
    .sort_hot
      %span.sort_label
        Sort by 
        %strong= @sorts[@sort.to_sym]
      .arrow
    %ul.button.people_sorts
      - @sorts.each do |k, v|
        %li
          = link_to(v, url_for(:sort => k), :class => k == @sort ? 'active' : '')

  %ul.tabs
 
    %li
      = link_to @state.upper_chamber.name, url_for(:action => 'upper', :sort => @sort), :class => (@current_tab == :upper ? 'active' : '')
    %li.divider &#124;  
    %li
      = link_to @state.lower_chamber.name, url_for(:action => 'lower', :sort => @sort), :class => (@current_tab == :lower ? 'active' : '')

  %hr
  

  #chamber
    = render :partial => 'chamber'
