- title("#{@state.name} Representatives")

%h1.grid_16
  = "#{@state.name} Representatives"

%hr.grid_16

- @state.chambers.each do |chamber|
  %div.grid_8[chamber]
    %h2= chamber.name
    %ul.lined
      - chamber.people.each do |rep|
        = render :partial => 'shared/person', :locals => {:person => rep}
