- title("#{@state.name} Representatives")

%h1.grid_16
  = "#{@state.name} Representatives"

%hr.grid_16

.sort
  Sort by
  = link_to "Name", url_for(:sort => 'name'), :remote => true
  = link_to "District", url_for(:sort => 'district'), :remote => true
  = link_to "Public Interest", url_for(:sort => 'citations'), :remote => true

#people
  = link_to @state.upper_chamber.name, url_for(:action => 'upper', :sort => params[:sort])
  = link_to @state.lower_chamber.name, url_for(:action => 'lower', :sort => params[:sort])

  .grid_16
    #chamber
      = render :partial => 'chamber'
