= title(t('.money_trail_for', :official_name => @person.official_name))

= render(:partial => 'wrapper')

%h2= t('.money_trail_for', :official_name => @person.official_name)

- if @person.contributions.any?
  .small.quiet.grid_12.alpha
    = t '.citation'
  .grid_6.alpha
    %h3= t '.industry_title'
    = render :partial => 'industry', :collection => @industries
  .grid_6.omega
    %h3= t '.top_title'
    = render :partial => 'contribution', :collection => @contributions

- else
  .grid_12.alpha
    = t '.no_results'
