= title(t '.coverage_title_bar', :full_name => @person.full_name )

= render(:partial => 'nav')

%h1
  = t '.coverage' 
  = @person.full_name

%hr.push_bottom

- if @person.mentions.empty?
  %div.no_results= t '.no_results', :search_term => @person.official_name

- else

  %p= t '.results_intro', :search_term => @person.official_name, :full_name => @person.official_name

  %hr

  .grid_6.alpha
    %h2 Google News
    %ul.lined.and_spaced.with_titles
      = render @person.google_news_mentions
  .grid_6.omega
    %h2 Blogs
    %ul.lined.and_spaced.with_titles
      = render @person.google_blog_mentions
