- title(@person.official_name)

%div.span-4
  %p
    %div
      - if @person.photo_url
	= image_tag(@person.photo_url)
      - else
        = image_tag('missing.png')

%div.span-16.last
  %h3
    = @person.official_name
    = @person.affiliation

  %h3 Basic Information
  %p
    - unless @person.birthday.blank?
      %div= "Date of Birth: #{@person.birthday}"
    - unless @person.gender.blank?
      %div= "Gender: #{@person.gender}"
    - unless @person.religion.blank?
      %div= "Religion: #{@person.religion}"
    - unless @person.website_one.blank?
      %div
        = link_to_with_domain("Website", @person.website_one)
    - unless @person.website_two.blank?
      %div
        = link_to_with_domain("Website", @person.website_two)
    - unless @person.webmail.blank?
      %div
        = link_to_with_domain("Web E-Mail", @person.webmail)
    - unless @person.email.blank?
      %div!= mail_to("E-Mail", @person.email, :encode => "javascript")
    - unless @person.youtube_id.blank?
      %div!= "Youtube: " + link_to(@person.youtube_id, @person.youtube_url)

%hr

%div.span-6
  %h3 Addresses
  %ul
    - if @person.addresses.size > 0
      - @person.addresses.each do |address|
        = render :partial => "shared/address", :locals => {:address => address}
    - else
      %p Sorry, we found no addresses.

%div.span-6
  %h3 Roles
  %p
    - @person.roles.each do |role|
      %div
        #{role.state && role.state.name} #{role.chamber.name} (<time datetime="#{role.start_date}">#{role.start_date.year}</time> to <time datetime="#{role.end_date}">#{role.end_date.year}</time>)

  - if @person.committees.size > 0
    %h3 Committees
    %p
      - @person.committees.each do |committee|
        %div
        = committee.type_fm
        = link_to(committee.name, state_committee_path(committee.legislature.state, committee))

%div.span-6
  %h3!= sponsorship_vitals_for(@person)

%div.span-6.last
  %h3 Votes
  - if @latest_roll_calls.size > 0
    %div
      %div
        %ul
          - @latest_roll_calls.each do |roll_call|
            - vote = roll_call.vote
            %li
              = "Voted #{roll_call.vote_type} on [#{vote.bill.bill_number}: #{vote.motion}] at #{vote.date}"

    %p
      != link_to("View All Votes", votes_person_path(@person))
  - else
    %p We have no voting history for #{@person.full_name}

%h3 Contributions
- if @person.has_contributions?
  .small.quiet.span-24 From the non-partisan <a href="http://www.followthemoney.org/Institute/about_data.phtml"> Project Vote Smart</a>.
  %hr
  %div.span-6
    %h3
      Top List
    - @person.contributions.each do |c|
      .span-4
        = c.business.business_name
      .span-2.last
        = number_to_currency(c.amount)

  %div.span-6
    %h3
      By Industry
    - @person.industry_contributions.each do |c|
      .span-4
        = c.industry_name
      .span-2.last
        = number_to_currency(c.amount)

  %div.span-6
    %h3
      By Sector
    - @person.sector_contributions.each do |c|
      .span-4
        = c.sector_name
      .span-2.last
        = number_to_currency(c.amount)

  %div.span-6.last
    %h3
      By Business
    - @person.business_contributions.each do |c|
      .span-4
        = c.business_name
      .span-2.last
        = number_to_currency(c.amount)

- else
  %p.span-24
    No data is available for this Member at this time via FollowTheMoney.org. To inquire how you can help make this info available and ensure transparency in government, visit
    %a{:href => 'http://www.followthemoney.org/Contact/index.phtml?dvd=8'} here
    == .

%h3 Ratings
- unless @person.ratings.blank?
  .small.quiet.span-24 From the non-partisan <a href="http://www.followthemoney.org/Institute/about_data.phtml"> Project Vote Smart</a>.
  %hr
  - @person.ratings.each do |rating|
    %div.span-8
      = rating.special_interest_group.issue.name
    %div.span-8
      = link_to(rating.special_interest_group.name, sig_path(rating.special_interest_group))
    %div.span-2
      = rating.timespan
    %div.span-2
      = rating.rating
- else
  %p.span-24
    No data found for this Member at this time via Project Vote Smart. To inquire how you can help make this info available and ensure transparency in government, visit
    %a{:href => 'http://votesmart.org/program_donations_index.php'} here
