- title(@person.official_name)
%h2
  = @person.official_name

%div.span-6
  %h3 Basic Information
  %p
    - unless @person.birthday.blank?
      %div= "Date of Birth: #{@person.birthday}"
    - unless @person.gender.blank?
      %div= "Gender: #{@person.gender}"
    - unless @person.religion.blank?
      %div= "Religion: #{@person.religion}"
    - unless @person.website_one.blank?
      %div
        = link_to_with_domain("Website", @person.website_one)
    - unless @person.website_two.blank?
      %div
        = link_to_with_domain("Website", @person.website_two)
    - unless @person.webmail.blank?
      %div
        = link_to_with_domain("Web E-Mail", @person.webmail)
    - unless @person.email.blank?
      %div!= mail_to("E-Mail", @person.email, :encode => "javascript")
    - unless @person.youtube_id.blank?
      %div!= "Youtube: " + link_to(@person.youtube_id, @person.youtube_url)

  %h3 Addresses
  %p
    - if @person.addresses.size > 0
      - @person.addresses.each do |address|
        = render :partial => "shared/address", :locals => {:address => address}
    - else
      %p Sorry, we found no addresses.


%div.span-6
  %h3 Roles
  %p
    - @person.roles.each do |role|
      %div
        #{role.state && role.state.name} #{role.chamber.name} (<time datetime="#{role.start_date}">#{role.start_date.year}</time> to <time datetime="#{role.end_date}">#{role.end_date.year}</time>)
  %h3 Committees
  %p
    - @person.committees.each do |committee|
      %div
      = committee.type_fm
      = link_to(committee.name, state_committee_path(committee.legislature.state, committee))

%div.span-6
  %h3!= sponsorship_vitals_for(@person)

%div.span-6
  %h3 Votes
  %div
    %div
      %ul
        - @latest_roll_calls.each do |roll_call|
          - vote = roll_call.vote
          %li
            = "Voted #{roll_call.vote_type} on [#{vote.bill.bill_number}: #{vote.motion}] at #{vote.date}"

  %p
    != link_to("View All Votes", person_votes_path(@person))
