- title("#{t('.tweets_about')} #{@person.official_name}")
- tweets(@person.full_name, 10)

= render('wrapper')

.grid_12
  %p= t '.intro', :search_term => @person.full_name
    
  #twitter(style="display: none;")
    %h2= t('.tweets')
    .grid_12.alpha
      #notweets(style="display: none;")
        %p= t('.no_mentions') 
      %ul.lined#tweets
    
