- title("Bills sponsored by #{@person.full_name}")
%p
  %h2!= @person.full_name + ": " + sponsorship_vitals_for(@person)
  - if @sponsorships.empty?
    = "#{@person.full_name} has no sponsored bills."
  - else
    = will_paginate @sponsorships
    - @sponsorships.each do |sponsorship|
      %div
        = sponsorship.kind
        = link_to(sponsorship.bill.title, bill_path(sponsorship.bill.state, sponsorship.bill.session, sponsorship.bill))
