= title(t '.title', :full_name => @person.full_name )


= render(:partial => 'nav')
  
.grid_12
  %h1
    = t '.title', :full_name => @person.official_name 
    .subhead
      = t '.most_recent_first' 
  
  %hr

  - if @sponsorships.all.empty?
    %h2
      = @person.full_name
      = t '.has_no_bills' 

  - else
    %p= sponsorship_vitals_for(@person)

    = paginate @sponsorships

    %ul.lined.and_spaced
      = render @sponsorships

    = paginate @sponsorships
