- title("Bills sponsored by #{@person.full_name}")

.grid_16
  %h1
    = @person.official_name
    - surround '(', ')' do
      = @person.current_role.try(:affiliation_fm)
  %hr

%nav.grid_4
  #left_nav
    = render_navigation(:level => 3)

.grid_12

  - if @sponsorships.empty?
    %h2= "#{@person.full_name} has no sponsored bills."
  
  
  - else
    %h2= sponsorship_vitals_for(@person)
    = will_paginate @sponsorships
    %ul.lined.and_spaced
      - @sponsorships.each do |sponsorship|
        %li
          = sponsorship.kind_fm + " of"
          = link_to(sponsorship.bill.title, bill_path(sponsorship.bill.session, sponsorship.bill))
          .bill_date.small= sponsorship.bill.first_action_at