- title("Bills sponsored by #{@person.full_name}")



= render(:partial => 'nav')
  

.grid_12
  %h1
    = @person.official_name
    - surround '(', ')' do
      = @person.current_role.try(:affiliation_fm)

  %hr

  - if @sponsorships.empty?
    %h2= "#{@person.full_name} has no sponsored bills."

  - else
    %p= sponsorship_vitals_for(@person)

    = will_paginate @sponsorships
    %ul.lined.and_spaced
      = render @sponsorships
