- title("Bills sponsored by #{@person.full_name}")



= render(:partial => 'nav')
  

.grid_12
  %h1
    Bills Sponsored by #{@person.official_name}
    .subhead
      (most recent first)
  

  %hr

  - if @sponsorships.empty?
    %h2= "#{@person.full_name} has no sponsored bills."

  - else
    %p= sponsorship_vitals_for(@person)

    = will_paginate @sponsorships

    %ul.lined.and_spaced
      = render @sponsorships

    = will_paginate @sponsorships