= title(t '.videos_for', :official_name => @person.official_name )

= render 'wrapper'

%p= t '.video_is_important'

%p= t '.intro'

%p= t '.in_the_future'

%p= t '.until_such_time'

%a.mc{:href => t('videos.miro_url')}
  %br

%a{:href => t('videos.miro_url')}
  = t '.videos_for', :official_name => @person.official_name 

  %br
