- title("Votes by #{@person.full_name}")

.grid_16
  %h1 Votes by #{@person.full_name}
  %hr

  - if @roll_calls.total_entries > 0
    = will_paginate @roll_calls
    %table.vote_summary
      %thead
        %tr
          %th(rowspan=2) #{@person.first_name}'s vote
          %th(rowspan=2) Bill & Motion
          %th(colspan=3) Votes
        %tr
          %th Yes
          %th No
          %th Other
      %tbody
      - @roll_calls.each do |roll_call|
        %tr
          - bill = roll_call.vote.bill
          - vote = roll_call.vote
          %td
            %strong= roll_call.vote_type.capitalize
          %td
            - if defined?(bill)
              %h4
                = link_to(bill.bill_number, bill_path(bill.session, bill))
                = ': '
                = link_to(vote.motion, vote_path(vote))
              %span.bill_title= bill.title
            - else
              %h4= link_to("#{vote.motion}", vote_path(vote))
            %br
            %span.vote_date= vote.date
          %td{:class => vote.passed? ? 'vote-passed' : ''}= vote.yes_count.round
          %td{:class => vote.passed? ? '' : 'vote-failed'}= vote.no_count.round
          %td= vote.other_count.round

  - else
    %p Sorry, we have no voting history for #{@person.official_name}