- title("Votes by #{@person.full_name}")

.grid_16
  %h1 Votes by #{@person.full_name}
  %hr

= render(:partial => 'nav')

.grid_12
  - if @roll_calls.total_entries > 0
    = will_paginate @roll_calls
    %table.vote_summary
      %thead
        %tr
          %th(rowspan=2)
          %th(rowspan=2) Bill & Motion
          %th(rowspan=2) #{@person.first_name}'s vote
          %th(colspan=4) Votes
          %th(rowspan=2) Outcome
        %tr
          %th Total
          %th Yes
          %th No
          %th Other
      %tbody
      - @roll_calls.each do |roll_call|
        = render roll_call.vote, :bill => roll_call.vote.bill, :roll_call => roll_call

    = will_paginate @roll_calls

  - else
    %p Sorry, we have no voting history for #{@person.official_name}