= title(t('.votes_by', :official_name => @person.official_name))



= render(:partial => 'nav')


%h1
  = t('.votes_by', :official_name => @person.official_name)
  .subhead
    = t '.most_recent_first'
%hr

- if @roll_calls.total_entries > 0
  = will_paginate @roll_calls
  %hr
  %table.vote-summary

    %tbody
    - @roll_calls.each do |roll_call|
      = render roll_call.vote, :bill => roll_call.vote.bill, :roll_call => roll_call

  = will_paginate @roll_calls

- else
  %p
    = t('.no_voting_history_for', :official_name => @person.official_name)
