- title("Votes by #{@person.full_name}")

.grid_16
  %h1 Votes by #{@person.full_name}
  %hr

  - if @roll_calls.total_entries > 0
    = will_paginate @roll_calls
    %table.vote_summary
      %thead
        %tr
          %th(rowspan=2) #{@person.first_name}'s vote
          %th(rowspan=2) Bill & Motion
          %th(colspan=3) Votes
          %th(rowspan=2) Outcome
        %tr
          %th Yes
          %th No
          %th Other
      %tbody
      - @roll_calls.each do |roll_call|
        %tr
          - bill = roll_call.vote.bill
          - vote = roll_call.vote
          %tr
            %td(rowspan=2)
              %strong= roll_call.vote_type.capitalize
            %td(rowspan=2)
              %h4= link_to("#{vote.motion}", vote_path(vote))
              %br
              .vote-summary-line
                %span.voters= vote.total_count
                people voted on
                %span.vote_date= vote.date
            %td{:rowspan => 2, :class => vote.passed? ? 'vote-passed' : ''}
              %span= vote.yes_count.round
            %td{:rowspan => 2, :class => vote.passed? ? '' : 'vote-failed'}
              %span= vote.no_count.round
            %td(rowspan=2)
              %span= vote.other_count.round
            %td{:colspan => 3, :class => 'vote-needed-bar'}
              %span{:class => 'vote-needed', :style => "width: #{number_with_precision(vote.needed_to_pass_pct)}%;"} &nbsp;
          %tr
            %td.vote-bar
              %span{:class => 'vote-yes-block', :style => "width: #{number_with_precision(vote.yes_pct)}%;"} &nbsp;
              %span{:class => 'vote-no-block', :style => "width: #{number_with_precision(vote.no_pct)}%;"} &nbsp;
              %span{:class => 'vote-other-block', :style => "width: #{number_with_precision(vote.other_pct)}%;"} &nbsp;

  - else
    %p Sorry, we have no voting history for #{@person.official_name}