- title("#{@state.name} Issues")



= render :partial => 'shared/left_nav_toplevel'

.grid_12
  %h1
    = "#{@state.name} Issues"
  
  %hr

  %p.intro= t '.intro'

  %p.intro This list of 46 legislative issue areas comes from the non-partisan Project VoteSmart. State governments currently assign subjects to bills -- usually, more than a dozen subjects per bill, totaling thousands of subjects per legislature.  OpenGovernment is currently in the process of matching these thousands of subjects to these 46 more intelligible issue areas, a project for which we are seeking volunteer <a href="/pages/help">help</a>. 
  
  %hr

  %h2 Issue Areas

  %ul.lined
    = render(:partial => 'shared/issue', :collection => @issues)

  %h2 Bill Subjects
  %ul.lined
    = render @subjects
  
  %strong.all_subjects= link_to(raw('All Subjects &rarr;'), subjects_path)
