- title("#{@state.name} Issues")



= render :partial => 'shared/left_nav_toplevel'

.grid_12
  %h1
    = "#{@state.name} Issues"
  
  %hr

  %p.intro= t '.intro'

  %p.intro 
  
  %hr

  %h2 Issue Areas

  %ul.lined
    = render(:partial => 'shared/issue', :collection => @issues)

  %h2 Bill Subjects
  %ul.lined
    = render @subjects
  
  %strong.all_subjects= link_to(raw('All Subjects &rarr;'), subjects_path)
