- title("#{@state.name} Issues")

%h1.grid_16
  = "#{@state.name} Issues"

%hr.grid_16

= render :partial => 'shared/left_nav_toplevel'

.grid_12
  = render(:partial => 'shared/issue', :collection => @issues)
