- title(t '.state_issues', :state_name => @state.name )



= render :partial => 'shared/appeal'

%h1
  = t '.state_issues', :state_name => @state.name


.intro
  %div
  %p= t '.intro', :legislature_name => @state.legislature.name

%h2
  = t '.bill_subjects'

%ul.lined.state-issues
  = render @subjects
