- title("#{@state.name} Issues")



= render :partial => 'shared/left_nav_toplevel'

.grid_12
  %h1
    = "#{@state.name} Issues"
  
  %hr

  %p.intro= t '.intro'

  %p.intro 
  
  %hr

  <h2>Issue Areas</h2>

  %ul.lined
    = render(:partial => 'shared/issue', :collection => @issues)
  
