- title("#{@state.name} Issues")

%h1.grid_16
  = "#{@state.name} Issues"

%hr.grid_16

= render :partial => 'shared/left_nav_toplevel'

.grid_12
  = render(:partial => 'shared/issue', :collection => @issues)
  
  %p This list of 46 legislative issue areas comes from the non-partisan Project VoteSmart. State governments currently assign subjects to bills -- usually, more than a dozen subjects per bill, totaling thousands of subjects per legislature.  OpenGovernment is currently in the process of matching these thousands of subjects to these 46 more intelligible issue areas, a project for which we are seeking volunteer <a href="/pages/help">help</a>. 