- title("#{@state.name} Issues")



= render :partial => 'shared/appeal'

%h1
  = "#{@state.name} Issues"


.intro
  %div
  %p= t '.intro', :legislature_name => @state.legislature.name


-# %h2 Project Vote Smart Issue Areas

-# %ul.lined
-#  = render(:partial => 'shared/issue', :collection => @issues)

%h2 Bill Subjects
%ul.lined
  = render @subjects
