- content_for :head do
  = auto_discovery_link_tag(:atom, {:format => :atom}, {:title => "Recent Activity: #{@issue.name}"})

- title @issue.name
= track(@issue)

%h2
  = @issue.name.titleize
= render :partial => 'shared/view_counts', :locals => {:page => @issue}

= link_to "Track via RSS", {:format => :atom}

.grid_16
  %h3
    Major Actions
  %table.bill_actions
    %tr
      %th Bill
      %th Date
      %th Chamber
      %th Action
    - @actions.each do |action|
      %tr
        %td= action.bill.bill_number
        %td= action.date && action.date.to_s(:pretty)
        %td= action.actor_fm
        %td= action.action_fm
        %td= link_to("link", action)

%h3 Bills
%ul.bills
- @bills.each do |bill|
  %li
    != link_to(bill.bill_number, bill_path(bill.session, bill)) + " "
    = bill.title

%h3 Special Interest Groups
%ul.sigs
- @sigs.each do |sig|
  %li
    != link_to(sig.name, sig_path(sig)) + " "
