%hr.grid_16
  %nav.grid_4#left_nav
    %p.filter
    %ul
      %li
        %a{:href => url_for(params.merge({:search_type => 'bills'}))}
          Bills
          - surround '(',')' do
            = @bills.total_entries rescue 0
      %li
        %a{:href => url_for(params.merge({:search_type => 'people'}))}
          People
          - surround '(',')' do
            = @legislators.total_entries rescue 0
      %li
        %a{:href => url_for(params.merge({:search_type => 'committees'}))}
          Committees
          - surround '(',')' do
            = @committees.total_entries rescue 0
      %li
        %a{:href => url_for(params.merge({:search_type => 'contributions'}))}
          Contributions
          - surround '(',')' do
            = @contributions.total_entries rescue 0


  .grid_12
    - unless @bills.empty?
      %div.search_results.span-20.last
        %h2 Bills
        %ul.bills.lined.and_spaced
          - @bills.each do |bill|
            = render :partial => 'shared/bill', :locals => {:bill => bill}
        = will_paginate @bills, :class => "pagination"

    - unless @legislators.empty?
      %aside.search_sidebar.span-4
        %p.sort

      %div.search_results.span-20.last
        %h2 Legislators
        %ul.legislators
          - @legislators.each do |leg|
            %li[leg]
              != link_to(leg.full_name, person_path(leg))
        = will_paginate @legislators

    - unless @committees.empty?
      %aside.search_sidebar.span-4
        %p.sort

      %div.search_results.span-20.last
        %h2 Committees
        %ul.committees
          - @committees.each do |committee|
            %li[committee]
              != link_to(committee.name, committee_path(committee))
        = will_paginate @committees


    - unless @contributions.empty?
      %aside.search_sidebar.span-4
        %p.sort

      %div.search_results.span-20.last
        %h2 Contributions
        %ul.contributions
          - @contributions.each do |contribution|
            %li[contribution]
              != contribution.contributor_name
        = will_paginate @contributions


