%nav#sort
  .filter.grid_6.alpha
    %h3 Session:
    %ul.session_filter
      %li= link_to 'All', state_search_path(params.except(:session_id))
      - @state.legislature.sessions.each do |s|
        %li
          = link_to s.name, state_search_path(params.merge({ :session_id => s.id }))
  .sort.grid_6.alpha
    %h3 Sort by:
    %ul.bills
      - Bill::SORTABLE_BY.each do |name, column|
        %li
          = link_to name, state_search_path(params.merge({:order => column}))

- if @bills.empty?
  %p Sorry, no bills matched.
- else
  %h2= link_to('Bills', bills_path)

  .search_results
    %ul.bills.bills.lined.and_spaced
      = render @bills, :hide_key_vote => false
