- case @search_type
  - when "all"
    %h1
      Searching all of 
      = @state.name
  - else
    %h1
      Searching
      = @state.name
      = @search_type.titleize

%span.results_count 
  - if @query.blank?
    All results.
  - else
    #{@total_entries} results for #{@query}

%a.search_help{:href => page_path("about")} Search Help
