- case @search_type
  - when "all"
    .grid_12
      %h1
        Searching all of 
        = @state.name
  - else
    .grid_12
      %h1
        Searching
        = @state.name
        = @search_type.titleize


%span.results_count 
  - if @query.blank?
    All results.
  - else
    #{@total_entries} results for #{@query}

%a.search_help{:href => page_path("about")} Search Help
