- case @search_type
  - when "all"
    %h1
      Searching all of 
      = @state.name
  - else
    %h1
      Searching
      = @state.name
      = @search_type.titleize

.search_results_search_form
  = render 'shared/search_form'

%span.results_count 
  - if @query.blank?
    All results.
  - else
    #{@total_entries} results for #{@query}

%a.search_help{:href => page_path("about")} Search Help

%nav#sort
  %p.filter
  %ul
    %li
      %a{:href => url_for(params.merge({:search_type => 'all'}).except(:page))}
        Everything
        - surround '(',')' do
          = @total_entries rescue 0
    %li
      %a{:href => url_for(params.merge({:search_type => 'bills'}).except(:page))}
        Bills
        - surround '(',')' do
          = @bills.total_entries rescue 0
    %li
      %a{:href => url_for(params.merge({:search_type => 'legislators'}).except(:page))}
        People
        - surround '(',')' do
          = @legislators.total_entries rescue 0
    %li
      %a{:href => url_for(params.merge({:search_type => 'committees'}).except(:page))}
        Committees
        - surround '(',')' do
          = @committees.total_entries rescue 0
    %li
      %a{:href => url_for(params.merge({:search_type => 'contributions'}).except(:page))}
        Contributions
        - surround '(',')' do
          = @contributions.total_entries rescue 0

