- title("Search")

- case @search_type
  - when "all"
    %h3.grid_16
      Search:
      = @state.name
    .small.quiet
      = "Total #{@total_entries} matches."
    = render :partial => "all_results"

  - when "bills"
    %h3.grid_16
      Bill Search:
      = @state.name
    .small.quiet
      = "Total #{@total_entries} matches."
      = render :partial => "bills_results"

  - when "legislators"
    %h3.grid_16
      Legislator Search:
      = @state.name
    .small.quiet
      = "Total #{@total_entries} matches."
    = render :partial => "legislators_results"

  - when "committees"
    %h3.grid_16
      Committe Search:
      = @state.name
    .small.quiet
      = "Total #{@total_entries} matches."
    = render :partial => "committees_results"

  - when "contributions"
    %h3.grid_16
      Contributions Search:
      = @state.name
    .small.quiet
      = "Total #{@total_entries} matches."
    = render :partial => "contributions_results"
