%h2= @state.name

.span-18.last

  .span-18.last.full_lined.less_padding
    .span-4
      This Bill's Page Views                 
    .span-3
      Today - 3,456                 
    .span-4
      Past 30 Days - 67,987
    .span-4.last
      All-Time - 2,235,232

    

  .span-6
    %h3
      = Legislature::CONGRESS.name

    %p
      %h4
        = pluralize(@state.current_senators.size, Legislature::CONGRESS.upper_chamber.title)
      %p
        - @state.current_senators.each do |rep|
          %div
            = link_to(rep.full_name, person_path(rep))
  
      %h4
        = Legislature::CONGRESS.lower_chamber.name
      %p
        - @federal_lower_chamber_roles.each do |role|
          %div
            != link_to(role.person.full_name, person_path(role.person)) + ", #{role.district.name}"

  .span-6
    %h3
      = @state.legislature.name

    .span-6
      %h4
        = pluralize(@state_upper_chamber_roles.size, @state.legislature.upper_chamber.title)
      %p
        - @state_upper_chamber_roles.each do |role|
          %div
            != link_to(role.person.full_name, person_path(role.person)) + ", #{role.district.name}"
    .span-6.last
      %h4
        = pluralize(@state_lower_chamber_roles.size, @state.legislature.lower_chamber.title)
      %p
        - @state_lower_chamber_roles.each do |role|
          %div
            != link_to(role.person.full_name, person_path(role.person)) + ", #{role.district.name}"

  .span-6.last
    %h3 Bills

    %p
      = render :partial => 'shared/bill_search_form', :locals => {:state => @state}

    %p
      Show all bills by:
      .bill_sort
        - Bill::SORTABLE_BY.each do |name, column|
          = link_to name, state_bills_path(@state, :sort => column)

    - if @state_key_votes.size > 0
      %h3 Key Votes
      .small.quiet From the non-partisan <a href="http://votesmart.org">Project Vote Smart</a>.
      %a(href="http://www.votesmart.org/glossary/define.php?term=key%20vote") What's a key vote?

      %p
        %ul.key_votes
          - @state_key_votes.each do |bill|
            %li
              != link_to(bill.bill_number, bill_path(@state, bill.session, bill)) + " "
              = bill.title


%aside.span-6.last
  %ul.sub_nav
    %li
      %a Assembly
      %ul
        %li
          %a Bills
    %li
      %a Senate
    %li
      %a Committees
    %li
      %a The Money Trail