- title(@state.name)

.span-24.last
  %h1
    = @state.name
  = render :partial => 'search_form'


%aside.span-6
  %ul.sub_nav
    %li
      %a Assembly
      %ul
        %li
          = link_to "Bills", state_search_path(:search_type => "bills")
    %li
      %a Senate
    %li
      %a Committees
    %li
      %a The Money Trail



.span-18
  .span-18.last.full_lined
    .span-4
      This Bill's Page Views
    .span-3
      Today - 3,456
    .span-4
      Past 30 Days - 67,987
    .span-4.last
      All-Time - 2,235,232


  .span-18.last
    .span-9
      = @state.name
      = @state.legislature.upper_chamber.name
      %br
    = leg_map_img(@state, @state.legislature.upper_chamber)

    .span-9.last
      = @state.name
      = @state.legislature.lower_chamber.name
      %br
    = leg_map_img(@state, @state.legislature.lower_chamber)

  .span-6
    %h3
      = Legislature::CONGRESS.name

    %p
      %h4
        = pluralize(@state.current_senators.size, Legislature::CONGRESS.upper_chamber.title)
      %p
        - @state.current_senators.each do |rep|
          %div
            = link_to(rep.full_name, person_path(rep))

      %h4
        = Legislature::CONGRESS.lower_chamber.name
      %p
        - @federal_lower_chamber_roles.each do |role|
          %div
            != link_to(role.person.full_name, person_path(role.person)) + ", #{role.district.name}"

  .span-6
    %h3
      = @state.legislature.name

    .span-6
      %h4
        = pluralize(@state_upper_chamber_roles.size, @state.legislature.upper_chamber.title)
      %p
        - @state_upper_chamber_roles.each do |role|
          %div
            != link_to(role.person.full_name, person_path(role.person)) + ", #{role.district.name}"
    .span-6.last
      %h4
        = pluralize(@state_lower_chamber_roles.size, @state.legislature.lower_chamber.title)
      %p
        - @state_lower_chamber_roles.each do |role|
          %div
            != link_to(role.person.full_name, person_path(role.person)) + ", #{role.district.name}"

  .span-6.last
    %h3 Key Votes
    .small.quiet From the non-partisan <a href="http://votesmart.org">Project Vote Smart</a>.
    %a(href="http://www.votesmart.org/glossary/define.php?term=key%20vote") What's a key vote?

    %p
      %ul.key_votes
        - @state_key_votes.each do |bill|
          %li
            != link_to(bill.bill_number, bill_path(bill.session, bill)) + " "
            = bill.title


