- title(@state.name)

.grid_16
  %h1.grid_9.alpha
    = @state.name
  %hr


%aside.grid_4
  %ul.sub_nav
    %li
      %a Assembly
    %li
      %a Bill
    %li
      %a Senate
    %li
      %a Committees
    %li
      %a The Money Trail



.grid_12
  .grid_13.views.alpha
    This Bill's Page Views&nbsp;&nbsp;&nbsp;
    Today - 3,456&nbsp;&nbsp;&nbsp;
    Past 30 Days - 67,987&nbsp;&nbsp;&nbsp;
    All-Time - 2,235,232&nbsp;&nbsp;&nbsp;
  %hr

.grid_8
  %h2
    = @state.legislature.name



  .grid_4.alpha
    %h3= @state.legislature.upper_chamber.name
    .district_map
      = leg_map_img(@state, @state.legislature.upper_chamber)

    %h4
      = pluralize(@state_upper_chamber_roles.size, @state.legislature.upper_chamber.title)
    %ul.lined
      - @state_upper_chamber_roles.each do |role|
        %li
          != link_to(role.person.full_name, person_path(role.person)) + ", #{role.district.name}"


  .grid_4.omega
    %h3= @state.legislature.lower_chamber.name
    .district_map
      = leg_map_img(@state, @state.legislature.lower_chamber)

    %h4
      = pluralize(@state_lower_chamber_roles.size, @state.legislature.lower_chamber.title)
    %ul.lined
      - @state_lower_chamber_roles.each do |role|
        %li
          != link_to(role.person.full_name, person_path(role.person)) + ", #{role.district.name}"

  %hr.push_top

  .grid_8
    %h2
      = Legislature::CONGRESS.name

    .grid_4.alpha
      %h3
        = pluralize(@state.senators.size, Legislature::CONGRESS.upper_chamber.title)
      %ul.lined
        - @state.senators.each do |rep|
          %li
            = link_to(rep.full_name, person_path(rep))
    .grid_4.omega
      %h3
        = Legislature::CONGRESS.lower_chamber.name
      %ul.lined
        - @state.us_rep_roles.order("people.last_name").each do |role|
          %li
            != link_to(role.person.full_name, person_path(role.person)) + ", #{role.district.name}"




.grid_4.omega
  %h2 Key Votes
  .small.quiet From the non-partisan <a href="http://votesmart.org">Project Vote Smart</a>.
  %a(href="http://www.votesmart.org/glossary/define.php?term=key%20vote") What's a key vote?

  %p
    %ul.lined.and_spaced
      - @state_key_votes.each do |bill|
        %li
          != link_to(bill.bill_number, bill_path(bill.session, bill)) + " "
          = bill.title


