- title(@state.name)


= render :partial => 'shared/appeal'



%h1.margin-top.margin-bottom 
  OpenGovernment -
  =@state.legislature.name


.display-none.grid_5.alpha
  %p= t '.intro'



.grid_7.alpha.bills
  
  :ruby
    javascript do
      (%q|
        $(function() {
            $("#chamber_tabs").tabs();
        		$("#bill_tabs").tabs();
        	});
      |)
    end

  #bill_tabs
    %ul.small_tabs
      %li
        %a{:href => '#recent_bills'} 
          =t '.recent_bills'
      %li
        %a{:href => '#most_viewed_bills'} 
          =t '.most_viewed_bills'
      %li
        %a{:href => '#key_votes'} 
          =t '.key_votes'


    #recent_bills.tab_cont
      %ul
        = render @recent_bills
      %a.more{:href => bills_path(params[:session], :sort => 'recent')}= t '.all_recent_bills'
      .clear

    #most_viewed_bills.tab_cont
      %ul
        = render @most_viewed_bills
      %a.more{:href => bills_path(params[:session], :sort => 'views')}= t '.all_most_viewed_bills'
      .clear

    #key_votes.tab_cont
      .small.quiet= t '.from_vote_smart'
      %a.what(href="http://www.votesmart.org/glossary/define.php?term=key%20vote")= t '.whats_a_key_vote'

      %ul
        = render @key_votes, :locals => {:hide_key_vote => true}
      %a.more{:href => bills_path(params[:session], :sort => 'keyvotes')}= t '.all_key_votes'
      .clear

.grid_5.omega.small_finally

  %h2.center
    Finally, a version of OpenCongress
    .span.league.block for
    your state legislature

  %ul
    %li.track 
      %div.league Track 
      %span bills, votes, and money 
    %li.contact 
      %div.league Contact 
      %span all your elected officials 
    %li.shareli
      %div.league Share 
      %span what's happening with your issues 


.clear

.people_news_preview
  .grid_12.alpha
    = link_to( t('.see_all_people_link'), people_path(:sort => 'mentions'), :class => 'see_all floatright')
    %h2= t '.people_in_the_news'

  .grid_6.alpha
    %ul.sponsor_mugs.grid_6.alpha
      - @hot_people.each_with_index do |person, i|
        %li= link_to(photo_for(person, :tiny), person_path(person), :rel => 'tipsy', :title => person.full_name + ' ' + ' (' + (person[:party] ? (person.try(:party).first + '-' + person.try(:district_name)) : person.current_role.try(:affiliation_fm)) + ')', :class => "sponsor_mug", :"data-hover-show" => "#hot_person_#{i}", :"data-hover-hide" => '.hot_person')

  .grid_6.omega.quip
    - @hot_people.each_with_index do |person, i|
      - if mention = person.mentions.first
        %div{:id => "hot_person_#{i}", :class => 'hot_person', :style => (i == 0 ? 'display: block' : 'display: none')}
          %br
          %h3=h link_to raw(mention.title), mention.url
          .small= mention.date.to_s(:pretty)
          %p= raw(mention.excerpt)
          %p= person.full_name

.grid_12.alpha
  .find_box
    = render :partial => 'shared/find_my_rep_form'
.clear.space


.grid_8.alpha
  .floatright.margin-top= link_to_with_domain('Official Site', @state.official_url)

  %h2= @state.legislature.name

  %br



  .italic.grid_4.alpha
    %strong= t '.current_session'
    %br
    = raw t '.state_population'
  
    %br
    %br

  .grid_4.omega
    %strong= t '.next_election'
    = raw t '.next_election_date'
    %br
  
    %strong= t '.last_election'
    = raw t '.last_election_date'
  


  .grid_7.alpha
    - if default_session?
      %p= t '.current_session_intro'
  


    %br
    %br

  



.grid_4.omega
  #chamber_tabs
    %ul.small_tabs
      - @state.chambers.each do |chamber|
        %li
          %a{:href => (chamber.type == 'UpperChamber' ? '#upper' : '#lower')}= chamber.short_name

    - @state.chambers.each do |chamber|
      - session_roles = chamber.roles.for_session(@session.family)
      %div{:id => (chamber.type == 'UpperChamber' ? 'upper' : 'lower')}
        %div.tab_cont.pad
          .grid_3.alpha.district_map
            = leg_map_img(@state, chamber)

          %p
            %h4= t '.legislators'
            = link_to session_roles.count, (chamber.type == 'UpperChamber' ? people_path(current_session.primary, :chamber => 'upper') : people_path(current_session.primary, :chamber => 'lower'))
            = chamber.title.pluralize
            %div.small
              = surround '(', ')' do
                = succeed ',' do
                  = pluralize(session_roles.democrats.count, t('state.blue_party_label'))
                - if session_roles.others.count > 0
                  = succeed ',' do
                    = pluralize(session_roles.republicans.count, t('state.red_party_label'))
                  = pluralize(session_roles.others.count, t('state.grey_party_label'))
                - else
                  = pluralize(session_roles.republicans.count, t('state.red_party_label'))            

            %div.small.small_line
              =t '.each_chamber_represents'
              =t (chamber.type == 'UpperChamber' ? '.state_pop_per_upper_chamber_member' : '.state_pop_per_lower_chamber_member') 
              =t '.term_limits'

          %p
            %h4= t '.committees'
            .small
              = succeed ',' do
                = link_to pluralize(chamber.primary_committees.count, t('.committee')), chamber.type == 'UpperChamber' ? upper_committees_path : lower_committees_path
              %br
  
              = link_to pluralize(@state.joint_committees.count, t('.joint_committee')), joint_committees_path
              %br
              = succeed ',' do
                = link_to "#{number_with_delimiter(Bill.for_session_including_children(@session.parent).in_chamber(chamber).count, :delimiter => ',')} #{t('.bills')}", bills_path(params[:session])
              %br
  
              = link_to "#{Bill.for_session_including_children(@session.parent).in_chamber(chamber).with_key_votes.count} #{t('.key_votes')}", bills_path(params[:session], :sort => 'keyvotes')
    
              %br
              =t (chamber.type == 'UpperChamber' ? '.last_election_upper_chamber_open_seats' : '.last_election_lower_chamber_open_seats')
              %br
              =t (chamber.type == 'UpperChamber' ? '.last_election_upper_chamber_incumbent_seats' : '.last_election_lower_chamber_incumbent_seats')
              %br  
              =t (chamber.type == 'UpperChamber' ? '.next_election_upper_chamber_seats_available' : '.next_election_lower_chamber_seats_available')







.clear.space
%h2 More Links

%p.grid_12.alpha= raw t '.background'
