- title(@state.name)

.grid_16
  = render :partial => 'shared/find_my_rep_form'

.grid_16
  %h1.grid_9.alpha
    = @state.name
  %hr


= render :partial => 'shared/left_nav_toplevel'

.grid_12
  %p.intro= t '.intro'

  .grid_12.alpha
    .floatright.margin-top= link_to_with_domain('Official Site', @state.official_url)


    %h2= @state.legislature.name

    .italic.grid_6.alpha
      = raw t '.current_session'


    .grid_6.omega
      = raw t '.state_population'

    .space

    - @state.chambers.each do |chamber|

      .grid_6{:class => cycle('alpha', 'omega')}


        %h2
          = chamber.name
          = surround '(', ')' do
            = link_to chamber.people.count, (chamber.type == 'UpperChamber' ? upper_people_path : lower_people_path)

        .grid_6.alpha.district_map
          = leg_map_img(@state, chamber)





        %ul.lined
          %li
            = raw t '.upper_chamber_active_session_date'
          %li
            Next Session:
            = raw t '.next_session_start_date'


        %h3
          Legislators
          = surround '(', ')' do
            = link_to chamber.people.count, (chamber.type == 'UpperChamber' ? upper_people_path : lower_people_path)
        %ul.lined
          %li= pluralize(chamber.people.democrats.count, 'Democrat')
          %li= pluralize(chamber.people.republicans.count, 'Republican')
          - if chamber.people.other.count > 0
            %li= pluralize(chamber.people.other.count, 'Other')


        %h3.margin-top
          Committees
        %ul.lined
          %li= link_to pluralize(chamber.primary_committees.count, 'Committee'), chamber.type == 'UpperChamber' ? upper_committees_path : lower_committees_path
          %li= link_to pluralize(Bill.for_session(@most_recent_session).in_chamber(chamber).count, 'Bill'), bills_path
          %li= link_to pluralize(Bill.for_session(@most_recent_session).in_chamber(chamber).with_key_votes.count, 'Key Votes'), bills_path
          %li= link_to pluralize(@state.joint_committees.count, 'Joint Committee'), joint_committees_path



        %h3.margin-top
          Population
        %p
          Each legislator represents approx.
          =t (chamber.type == 'UpperChamber' ? '.state_pop_per_upper_chamber_member' : '.state_pop_per_lower_chamber_member')



        %h3.push_top
          Elections
        %p
          Legislators serve #{chamber.term_length} year terms


        %h4
          Last Election
        %ul.lined
          %li
            = raw t '.last_election_date'
          %li
            = raw t '.last_election_upper_chamber_open_seats'
          %li
            = raw t '.last_election_upper_chamber_incumbent_seats'


        %h4
          Next Election
        %ul.lined
          %li
            = raw t '.next_election_date'
          %li
            = raw t '.next_election_upper_chamber_seats_available'

    %hr.push_top

    .grid_12.alpha.key_votes
      %h2 Key Votes
      .small.quiet From the non-partisan <a href="http://votesmart.org">Project Vote Smart</a>.
      %a.what(href="http://www.votesmart.org/glossary/define.php?term=key%20vote") What's a key vote?

      %p
        %ul.lined.and_spaced
          = render :partial => 'shared/bill', :collection => @state_key_votes
      %a.large{:href => bills_path(:sort => 'keyvotes')} All Key Votes &rarr;

    %p.grid_12.alpha= raw t '.background'
