%h2
  = @state.name


.span-18
    
  .span-6

    %h3
      = Legislature::CONGRESS.name
  
    %p
      %h4
        = Legislature::CONGRESS.upper_chamber.name
      %p
        - @state.current_senators.each do |rep|
          %div
            = link_to(rep.full_name, person_path(rep))
  
      %h4
        = Legislature::CONGRESS.lower_chamber.name
      %p
        - @federal_lower_chamber_roles.each do |role|
          %div
            != link_to(role.person.full_name, person_path(role.person)) + ", #{role.district.name}"

  .span-12.last
    %h3
      = @state.legislature.name
 
    .span-6
      %h4
        = @state.legislature.upper_chamber.name
      %p
        - @state_upper_chamber_roles.each do |role|
          %div
            != link_to(role.person.full_name, person_path(role.person)) + ", #{role.district.name}"
    .span-6.last
      %h4
        = @state.legislature.lower_chamber.name
      %p
        - @state_lower_chamber_roles.each do |role|
          %div
            != link_to(role.person.full_name, person_path(role.person)) + ", #{role.district.name}"

.span-6.last
  %h3 Bills

  %p
    = render :partial => 'shared/bill_search_form'
