- title("Sorry, #{@state.name} isn't ready yet!")

.grid_4
  %br
  %br
  %p.sign
    %strong Leave us your e-mail address to stay informed with updates as we get closer to rolling-out OpenGovernment - #{@state.name}:
  = form_tag(state_subscriptions_path)
  = hidden_field_tag :id, @state.id
  = text_field_tag :email
  = submit_tag "Subscribe"
  </form>

.grid_12

  %h1 Sorry, OpenGovernment #{@state.name} isn't ready yet!

  %p Currently, OpenGovernment has information for five state legislatures: California, Louisiana, Maryland, Texas, and Wisconsin. We seek to roll out versions of OpenGovernment for the remaining 45 U.S. state legislatures over the course of 2011, with continual enhancements beyond. So while a version of OpenGovernment for #{@state.name} is coming within a year at most, it's not ready yet. But you can help speed it along and make it better. 
    
  
  %p Second, in order to bring OpenGovernment to your state and local government, we need access to data that is currently closed-off from the public. You can help by joining the OpenGovData campaign for your state. Enter your five-digit zip-code here, and we'll return contact information for your governor, secretary of state, state senator, and state representative or assemblyperson. We encourage you to call or write them with a message along the lines of the below: 
  
  %blockquote
    %q As a constituent, I want my state government to be transparent and accountable. The necessary first step towards transparency is open government data: making legislative information more accessible, as outlined in the <a href="http://resource.org/8_principles.html">8 Principles of Open Government Data</a>. Then, in the future, I'll be able to track and share what's happening in our state government on free and open-source websites like OpenGovernment.org and others. 
      
  %p Third, read more <a href="/pages/help">ways you can help</a> bring OpenGovernment to your state, and make it an even more powerful open-source tool for civic engagement.     
  
  %p At this point, you might reasonably be asking yourself, "why are those five states currently available on OG, and why isn't my state ready yet?" Well, unfortunately, almost none of the U.S. state governments make their data truly accessible. Sure, state legislatures have an assortment of official websites, some more sophisticated than others, but the data that drives them isn't available in ways that are compliant with the 8 Principles of Open Government Data. Even if the data were available, we've already seen that the websites created by government are decidedly un-user-friendly... when was the last time you saw a really good overview of what's happening in your state government? 
  
  %p Actually, the situation is the same as it was with the U.S. Congress circa 2004, when the official government website (Thomas.loc.gov) was demonstrably insufficient to the public's needs, so independent remixes like GovTrack and OpenCongress arose to serve the need for engaging with Congress. In the same way, our non-profit organizations had to do a lot of technical work just to get basic government data into the more-or-less workable shape you see here on this preview version of OpenGovernment, and that's just for the legislatures of five states (CA, LA, MD, TX, and WI). We think people should be more concerned that our elected officials and government agencies are so insistently behind-the-times in basic standards of transparency and technology... it's going to take civic-minded efforts from people like you to force your government to be open and accountable. 
  
  %p ... and that's just for the legislative branch of state governments! The same principles of transparency and openness apply to the other two major branches of government (Executive and Judicial) at every level: county, city, town, local, and more. There ought to be a version of OpenGovernment that covers all of your elected officials in our representative democracy. Public data can and should be available to the public, immediately and in full. This is our demand, and we hope you join our community-driven campaign to liberate your data. Our ultimate goal is to provide you with full information about all actions by your elected officials at every level of government. That's where we're headed. There's a lot of work yet to do. 
  
  / It might help to know: our non-profit organizations and a dedicated team of volunteers had to do a lot of work just to get basic government data into the more-or-less intelligible shape you see here, and that's just for the legislatures of five states (CA, LA, MD, TX, and WI). This doesn't yet include important public data from the other two branches of government: Executive, such as state budgets and agency expenditures; and Judicial, such as laws and statutes. What's more, this doesn't yet include a host of other data that the government should provide in open standards, but doesn't: the full text of legislation, video of legislative sessions and committee hearings, campaign contribution information and financial disclosure forms, and more. What's even more on top of that, this doesn't yet include a whole world of other data that would be useful to people in connecting with their government, but is beyond our current resources to gather: social media accounts for elected officials; issue group scorecards with ratings for important bills and key votes; analysis of the role of money-in-politics; easy-to-understand primers on how state governments work and how laws are passed in each of the 50 U.S. states; and more. And that's all just for state governments! The same principles of transparency and openness apply for government at the county, city, town, and most-local level. There ought to be a version of OpenCongress for your city and neighborhood... or to put it another way, OpenGovernment should encompass all your elected officials in our representative democracy, along with (if applicable in your state) your ability to exercise direct democracy in casting votes on amendments and more. That's where we're headed. There's a lot of work yet to do. 
    
  %p But the encouraging news is that here, with OpenGovernment, we now have a good start in applying this model of transparency to every level government. This transparency, in turn, can restore public trust in our representative democracy and increase civic engagement in our communities. To help our non-profit project grown, you can help spread the word by using the social sharing tools below. Together, we can ensure that you have full information about all actions by your elected officials at every level of government: federal, state, local, and more. We're working to put government at your fingertips. Read more <a href="/pages/about">about us</a> and <a href="/pages/help">how you can help</a>. (Social sharing icons below.)
