- title(t '.state_money_trail', :state_name => @state.name )

%h1
  = t '.state_money_trail', :state_name => @state.name

.intro
  %div
  %p= t '.intro', :legislature_name => @state.legislature.name


.grid_6.alpha
  - @sectors.values[0...@sectors.size/2].each do |sector|
    %h2= sector[0]
    %ul.margin-bottom
      = render :partial => 'industry', :collection => sector[1]
    %br
    %br

.grid_6.omega
  - @sectors.values[@sectors.size/2..@sectors.size].each do |sector|
    %h2= sector[0]
    %ul.margin-bottom
      = render :partial => 'industry', :collection => sector[1]
    %br
    %br