- title("#{@state.name} Money Trail")


.grid_16
  %h1.grid_9.alpha
    = @state.name
    Money Trail
  %hr



= render :partial => 'shared/left_nav_toplevel'

.grid_12
  %p.intro= t '.intro'
  
  %hr
  
  .grid_6.alpha
    = render :partial => 'sector', :collection => @sectors[0...@sectors.size/2]
  
  .grid_6.omega
    = render :partial => 'sector', :collection => @sectors[@sectors.size/2..@sectors.size]
