- title("#{@state.name} Money Trail")

%h1
  = @state.name
  Money Trail

.intro
  %div
  %p= t '.intro'


.grid_6.alpha
  = render :partial => 'sector', :collection => @industries[0...@industries.size/2]

.grid_6.omega
  = render :partial => 'sector', :collection => @industries[@industries.size/2..@industries.size]
