- title("#{@state.name} Money Trail - #{@industry.name}")

= render 'shared/left_nav_toplevel'

.grid_12

  %h1
    = @state.name
    Money Trail -
    = @industry.name

  .grid_6.alpha
    %h2 Top 20 Contributors
    = render :partial => 'money_trails/contribution', :collection => @contributions

  .grid_6.omega
    %h2 Top 20 Recipients
    = render :partial => 'money_trails/recipient', :collection => @recipients
