%li.grid_12[bill]
  - if bill.votesmart_key_vote?
    %span.vote_smart_keyvote.floatright
      This is a Votesmart Key Vote!

  .bill_titles
    != link_to(bill.bill_number, bill_path(bill.session, bill), :class => 'bill_link')
    %span.bill_title
      != bill.title



  .bill_status.rounded

    .introduced.grid_4.omega.top
      Introduced:
      != bill.first_action_at

    .recent_vote.grid_3.alpha.top
      != pluralize(bill.votes.count, 'vote')
      on this bill
    

    .recent_action.grid_4.omega
      Most recent action:
      != bill.last_action_at


    - if MongoMapper.connected?
      .view_count.grid_3.alpha
        = pluralize(bill.views, 'view')



  .sponsor_mugs
    .action_status.grid_6.alpha{:class => bill.actions.first.try(:kind_classes)}
      = bill.actions.first.try(:kind_fm)
    = sponsor_mugs(bill.sponsorships, :limit => 5, :summary => true)
