%li[bill]
  - if bill.votesmart_key_vote?
    %span.vote_smart_keyvote.floatright
      This is a Votesmart Key Vote!

  .bill_titles
    != link_to(bill.bill_number, bill_path(bill.session, bill), :class => 'bill_link')
    %span.bill_title
      != bill.title


  .bill_status.rounded
    .sponsor_mugs
      = sponsor_mugs(bill.sponsorships, :limit => 5, :summary => true)

    .action_status{:class => bill.actions.first.try(:kind_classes)}
      = bill.actions.first.try(:kind_fm)

    .introduced
      Introduced:
      != bill.first_action_at

    .recent_action
      Most recent action:
      != bill.last_action_at

    .recent_vote
      != pluralize(bill.votes.count, 'vote')
      on this bill
    
    - if MongoMapper.connected?
      .view_count
        = pluralize(bill.views, 'view')
  .clear
