
= include_javascripts :zeroclipboard
#d_clip_container{:style => "position: relative"}
  #d_clip_button.permalink Permalink

:javascript
  ZeroClipboard.setMoviePath('#{j image_path('ZeroClipboard.swf')}');
  var clip = new ZeroClipboard.Client();
  clip.setText( '#{escape_javascript(request.url)}' );
  clip.glue( 'd_clip_button', 'd_clip_container' );


%ul.share
  %li.facebook
    %iframe(src="http://www.facebook.com/plugins/like.php?href=#{u url}&send=false&layout=button_count&width=100&show_faces=false&action=like&colorscheme=light&font&height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true")

  %li.twitter
    %script(src="http://platform.twitter.com/widgets.js" type="text/javascript")
    %a.twitter-share-button{:href=>"http://twitter.com/share", :'data-count'=>'none'} Twitter
  %li.reddit
    %a{:href => "http://reddit.com/submit?url=#{u url}&amp;title=#{u title}"} Reddit
  %li.digg
    %a{:href => "http://digg.com/submit?phase=2&amp;url=#{u url}&amp;title=#{u title}"} Digg
  %li.stumble
    %a{:href => "http://www.stumbleupon.com/submit?url=#{u url}&amp;title=#{u title}"} StumbleUpon   
 