%span.views
  - if MongoMapper.connected?
    = t '.total_views', :count => page.views
    &nbsp;&nbsp;
    = page.views(1.week.ago.utc)
    = t '.in_last_week'
    &nbsp;&nbsp;
    = page.views(1.month.ago.utc)
    = t '.in_last_month'
  - else
    = t 'site.view_counts_not_available'
