-# Accepts a vote and (optionally) a bill and person, returns a vote summary.
-# If no bill is passed in, show the motion without the bill number and title.
-# If a person is passed in, show the person's vote as a column.
  %tr
    %td
      - if defined?(bill)
        %h4
          = link_to(bill.bill_number, bill_path(bill.session, bill))
          = ': '
          = link_to(vote.motion, vote_path(vote))
        %span.bill_title= bill.title
      - else
        %h4= link_to("#{vote.motion}", vote_path(vote))
      %br
      %span.vote_date= vote.date
    %td
      = vote.yes_frac.round
      &ndash;
      = vote.no_frac.round
      &ndash;
      = vote.other_frac.round
    %td
    