.space

%a(class="visit_blog" href="http://blog.opengovernment.org")= t('.visit_the_blog')

%h2.grid_14.push_1 
  = t '.finally_a_version'

.grid_14
  .push_1
    %p= t '.welcome'

.grid_14.push_1
  .grid_7.alpha.bigger.supported_states_list
    .grid_3.alpha
      %ul
        - @states[0...(@states.size/2)+1].each do |state|
          %li
            %a{:href => state_url(state), :class => "state-#{state.abbrev}"}= state.name
    .grid_3.omega
      %ul.bill_documents
        - @states[(@states.size/2)+1..@states.size].each do |state|
          %li
            %a{:href => state_url(state), :class => "state-#{state.abbrev}"}= state.name

  .grid_7.omega.notify_me
    .signup_form
      %form(action="http://crm.ppolitics.org/civicrm/profile/create&amp;gid=10&amp;reset=1" method="post" name="Edit" id="Edit")
        %input(name="postURL" type="hidden" value="")
        %input(name="cancelURL" type="hidden" value="http://crm.ppolitics.org/civicrm/profile?reset=1&amp;gid=10")
        %input(name="add_to_group" type="hidden" value="3")
        %input(name="_qf_default" type="hidden" value="Edit:cancel")
        %input(maxlength="64" size="30" name="email-Primary" type="text" placeholder="Email" id="email" class="form-text big required")
        %input(maxlength="12" size="12" name="postal_code-Primary" type="text" placeholder="Postal Code" id="postal_code" class="form-text twelve")
        %input(class="form-submit button medium default" accesskey="S" name="_qf_Edit_next" value="Save" type="submit" id="_qf_Edit_next")

.find_box
  = render :partial => 'shared/find_my_rep_form'

.clear

.illo
  %h2 
    = t '.do_more_with'

  %p
    %span.learn{:title => t('.learn_title'), :rel => 'tipsy-south'} 
      = t ".learn"
    %span.track{:title => t('.track_title'), :rel => 'tipsy-south'} 
      = t '.track'
    %span.share{:title => t('.share_title'), :rel => 'tipsy-south'} 
      = t '.and_share'


