%table.bill_actions
  %tr
    %th= t 'bills.show.date'
    %th= t 'bills.show.chamber'
    %th= t 'bills.show.action'
  - actions.each do |action|
    %tr{:class => (action.major? ? "major" : "")}
      %td
        %time{:datetime => action.date.to_s(:utc)}= action.date && action.date.to_s(:pretty)
      %td= action.actor_fm
      %td= link_to(action.action_fm, action)
