- embed_disqus("bill-#{@bill.long_id}")

%h1{:class => @bill.votesmart_key_vote? ? 'votesmart_key_vote' : ''}
  %span.state-and-chamber
    = "#{@bill.state.name} #{@bill.chamber.name} #{t('bills.show.bill')} "
  %span{:class => @bill.title.length > 300 ? 'long_bill_title' : ''}
    = "#{@bill.bill_number}:"
    = @bill.title

- if defined?(show_tools)

  %aside.take_action
    %h4.pad 
      =t('.share_this')
      
    = render 'shared/share_tools', :message => "Share", :title => t('im_reading_about', :hashtags => @bill.to_hashtags), :url => request.url
    %h4
      %span= t('bills.track.track')
    %ul.track_buttons
      %li.rss 
        = link_to t('bills.track.all_actions'), actions_bill_path(@bill.session, @bill, :format => :atom)
        = link_to t('bills.track.major_actions'), major_actions_bill_path(@bill.session, @bill, :format => :atom)
      %li.email 
        %a
          %span.icon
          = t('bills.track.email_alerts') 
          %span.soon= t 'bills.show.coming_soon'

    .write_buttons.clearboth
      %h4
        %span= t('bills.write.write')
        
      .form
        = form_tag(search_people_path, :method => :get, :id => 'find_my_rep')
        %strong= t 'bills.write.find_your_rep', :chamber_name => @bill.chamber.title
        %label(for='q')= t 'bills.write.location_prompt'
        = text_field_tag :q, params[:q], :autocomplete => 'off'
        .find_button
          = submit_tag t('bills.write.find_button'), :class => 'button'
        </form>
        %a{:style => 'display: none', :id => 'rep_link', :class => 'modal'}
        -# Form results appear in a colorbox, not a separate page.
        :ruby
          javascript do
            (%Q|
              $(document).ready(function() {
                $('#find_my_rep input:submit').click(function(e){
                  $('#rep_link').attr('href', '#{search_people_path}?chamber_id=#{@bill.chamber.id}&q='+ encodeURI($('#find_my_rep input[name=q]').val()));
                  $('#rep_link').click();
                  e.preventDefault();
                });
              });
            |)
          end

    -# TODO: These are turned off for now. Please implement.
    .support_buttons(style="display: none;")
      %a.support.button(rel='tipsy' title='Give a personal vote "aye" or "nay" for this person &mdash; coming soon!')
        %span I Support this Bill!
      %a.oppose.button(rel='tipsy' title='Give a personal vote "aye" or "nay" for this person &mdash; coming soon!')
        %span I Oppose this Bill!

