.grid_16
  - if defined?(show_tools)
    %aside.take_action
      = render 'shared/share_tools', :message => "Share", :title => (yield(:title) || "OpenGovernment"), :url => request.url
      .hov.track_buttons
        %h4.button
          %span Track
          .arrow
        .drop.button
          %ul
            %li.rss 
              = link_to "All actions", actions_bill_path(@bill.session, @bill, :format => :atom)
              = link_to "Major actions", major_actions_bill_path(@bill.session, @bill, :format => :atom)
            %li.email 
              %a
                %span
                Email Alerts

      .hov.write_buttons
        %h4.button
          %span Write
          .arrow
        .drop.button
          %ul
            %li.email 
              %a Email
            %li.twitter 
              %a Twitter
            %li.facebook 
              %a Facebook

      .support_buttons
        %a.support.button(rel='tipsy' title='Sign in to vote!')
          %span I Support this Bill!
        %a.oppose.button(rel='tipsy' title='Sign in to vote!')
          %span I Oppose this Bill!
  %h1
    %span.state-and-chamber
      = "#{@bill.state.name} #{@bill.chamber.name} Bill "
    %span
      = "#{@bill.bill_number}"

  %hr

= render(:partial => 'nav')