- embed_disqus("bill-#{@bill.id}")

%h1
  %span.state-and-chamber
    = "#{@bill.state.name} #{@bill.chamber.name} Bill "
  %span{:class => @bill.title.length > 300 ? 'long_bill_title' : ''}
    = "#{@bill.bill_number}:"
    = @bill.title

- if defined?(show_tools)
  %aside.take_action.full_lined
    = render 'shared/share_tools', :message => "Share", :title => (yield(:title) || "OpenGovernment"), :url => request.url
    .hov.track_buttons
      %h4.button
        %span= t('bills.track.track')
        .arrow
      .drop.button
        %ul
          %li.rss 
            = link_to t('bills.track.all_actions'), actions_bill_path(@bill.session, @bill, :format => :atom)
            = link_to t('bills.track.major_actions'), major_actions_bill_path(@bill.session, @bill, :format => :atom)
          %li.email 
            %a
              %span
              = t('bills.track.email_alerts') 
              %span.soon (coming soon)

    .hov.write_buttons
      %h4.button
        %span= t('bills.write.write')
        .arrow
      .drop.button
        = form_tag(search_people_path, :method => :get, :id => 'find_my_rep')
        %strong= t 'bills.write.find_your_rep', :chamber_name => @bill.chamber.title
        %label(for='q')= t 'bills.write.location_prompt'
        = text_field_tag :q, params[:q], :autocomplete => 'off'
        .find_button
          = submit_tag 'Find'
        </form>
        %a{:style => 'display: none', :id => 'rep_link', :class => 'modal'}
        -# Form results appear in a colorbox, not a separate page.
        :ruby
          javascript do
            (%Q|
              $(document).ready(function() {
                $('#find_my_rep input:submit').click(function(e){
                  $('#rep_link').attr('href', '#{search_people_path}?chamber_id=#{@bill.chamber.id}&q='+ encodeURI($('#find_my_rep input[name=q]').val()));
                  $('#rep_link').click();
                  e.preventDefault();
                });
              });
            |)
          end

    .support_buttons
      %a.support.button(rel='tipsy' title='Give a personal vote "aye" or "nay" for this person &mdash; coming soon!')
        %span I Support this Bill!
      %a.oppose.button(rel='tipsy' title='Give a personal vote "aye" or "nay" for this person &mdash; coming soon!')
        %span I Oppose this Bill!

