- embed_disqus("bill-#{@bill.long_id}")

.track_buttons
  %h4
    %span= t('bills.track.track')

  %ul
    %li.rss 
      %span
      %div= link_to t('bills.track.all_actions'), actions_bill_path(@bill.session, @bill, :format => :atom)
      %span
      %div= link_to t('bills.track.major_actions'), major_actions_bill_path(@bill.session, @bill, :format => :atom)
    %li.email 
      %a
        %span.icon
        = t('bills.track.email_alerts') 
        %span.soon= t 'bills.show.coming_soon'


.bill-intro
  %span.subhead
    = "#{@bill.state.name} #{@bill.chamber.name}"
    = t 'bills.show.bill'


  %h1{:class => @bill.votesmart_key_vote? ? 'votesmart_key_vote' : nil}
  
    %span.bill-number
      = "#{@bill.bill_number}"

  %p.bill-title{:class => @bill.title.length > 300 ? 'long_bill_title' : nil}= @bill.title
  .clear

  - status_bar(@bill)
  .clear

  = render 'shared/view_counts', :page => @bill

  .share-tools
    %h4.pad 
      =t('.share_this')
    = render 'shared/share_tools', :message => "Share", :title => t('bills.show.im_reading_about', :hashtags => @bill.to_hashtags), :url => request.url
  
  .clear


- if @bill.votesmart_key_vote?
  %span.vote_smart_keyvote
    This is a Votesmart Key Vote!










