- title("#{@bill.state.name} #{@bill.bill_number} Discussion")

= render :partial => 'wrapper'

.grid_12.alpha
  .intro Use this public forum productively to share information about this bill that may be relevant to other visitors. Peer-to-peer communication is powerful -- please don't use this forum to leave messages for your elected officials (instead, contact them directly with your input). Specific comments about this bill work best here: its text, its status, its actions, or its votes. Thanks for helping to build public knowledge about bills and issues in our democracy.
  #disqus_thread
  = embed_disqus("bill-#{@bill.id}")
