- title("#{@state.name} Bills")
- dropdown('.sort_hot', 'ul.bill_sorts')

%h1.grid_16
  = "#{@state.name} Bills"

%hr.grid_16

= render :partial => 'shared/left_nav_toplevel'

#bill_index.grid_12

  %ul.tabs
    %li
      = link_to('All', bills_path(:sort => @sort), :class => (@current_tab == :all ? 'active' : ''))

    %li.divider &#124;

    %li
      = link_to(@state.upper_chamber.name, bills_upper_path(:sort => @sort), :class => (@current_tab == :upper ? 'active' : ''))
        
    %li.divider &#124;  

    %li
      = link_to(@state.lower_chamber.name, bills_lower_path(:sort => @sort), :class => (@current_tab == :lower ? 'active' : ''))

  %hr.push_bottom

  .sort.grid_12.alpha.push_bottom
    .sort_hot
      %span.sort_label
        Sort by 
        %strong= @sorts[@sort.to_sym]
      .arrow
    %ul.bill_sorts
      - @sorts.each do |k, v|
        %li
          = link_to(v, url_for(:sort => k), :class => k == @sort ? 'active' : '')

  %hr.push_bottom


  %ul.lined.and_spaced#bill_list
    = render :partial => 'shared/bill', :collection => @bills
