- title(t('.title', :legislature_name => @state.legislature.name, :session_name => current_session_name))

= render :partial => 'shared/appeal'

%h1= t '.title', :legislature_name => @state.legislature.name, :session_name => current_session_name


.intro
  %div
  %p= t '.intro', :state_name => @state.name


%ul.tabs.chamber_tabs
  %li.all
    %a{:href => bills_path(@session, :sort => @sort), :class => (@current_tab == :all ? 'active' : '')} All

  %li.senate
    %a{:href => upper_bills_path(@session, :sort => @sort), :class => (@current_tab == :upper ? 'active' : '')}= @state.upper_chamber.name

  %li.house
    %a{:href => lower_bills_path(@session, :sort => @sort), :class => (@current_tab == :lower ? 'active' : '')}= @state.lower_chamber.name

.sort.grid_12.alpha
  %ul.sorts
    %li.sort_label
      Sort by
    - @sorts.each do |k, v|
      %li
        = link_to(v, url_for(:session => @session, :sort => k), :class => (k.to_s == @sort ? 'active' : nil))
.space.clear

- if @bills.empty?
  %p= t '.bill_list_empty'
- else
  %ul.lined.and_spaced#bill_list
    = render :partial => 'shared/bill', :collection => @bills, :locals => {:hide_key_vote => (['keyvotes','mentions'].include?(@sort) ? true : false)}


%a.more{:href => search_path(:search_type => 'bills')} Browse All Bills &rarr;
