- title("#{@state.name} Bills")

%h1.grid_16
  = "#{@state.name} Bills"

%hr.grid_16

.sort
  Sort by
  = link_to "Recent Actions", url_for(:sort => 'actions'), :remote => true
  = link_to "Recent Bills", url_for(:sort => 'recent'), :remote => true
  = link_to "Most In The News", url_for(:sort => 'citations'), :remote => true
  = link_to "Most Viewed", url_for(:sort => 'views'), :remote => true

#bills
  = render :partial => 'shared/bill', :collection => @bills
