- title("#{@state.name} Bills")

%h1.grid_16
  = "#{@state.name} Bills"

%hr.grid_16

.grid_16
  #bills_actions
    %h2 Recent actions
    %ul.lined
      = render :partial => 'shared/bill', :collection => Bill.unscoped.for_state(@state).order("last_action_at desc").limit(10)
  
  #bills_introduced
    %h2 Recent Bills Introduced
    %ul.lined
      = render :partial => 'shared/bill', :collection => Bill.for_state(@state).limit(10)
  
  #bills_most_cited
    %h2 Most in the news
    %ul.lined
      = render :partial => 'shared/bill', :collection => Bill.search(:order => 'citations_count desc', :per_page => 10)