- title("Bill search: #{@state.name}")
%h2 Bill search: #{@state.name}
= render :partial => 'shared/bill_search_form', :locals => {:state => @state}
- if @bills.empty?
  %p Sorry, no bills matched.
- else
%div.search_results
  %ul.bills
    - @bills.each do |bill|
      %li[bill]
        != link_to(bill.bill_number, bill_path(@state, bill.session, bill)) + " "
        = bill.title
  = will_paginate @bills
%aside.search_sidebar
  %p.filter
    Session:
    %ul.session_filter
      - @state.legislature.sessions.each do |s|
        %li= link_to_unless_current s.name, :overwrite_params => { :session_id => s.id }
  %p.sort
    Sort by:
    %ul
      - Bill::SORTABLE_BY.each do |name, column|
        %li= link_to_unless_current name, :overwrite_params => { :order => column }