%h2 Bill search
= render :partial => 'shared/bill_search_form'
%ul#bills
- @bills.each do |bill|
  %li(id="bill_#{bill.id}")
    != link_to(bill.bill_number, bill_path(@state, bill.session, bill)) + " "
    = bill.title
= will_paginate @bills
