- title(t('.title', :legislature_name => @state.legislature.name))

= render :partial => 'shared/appeal'

%h1= t '.title', :legislature_name => @state.legislature.name

%hr

%p.intro= t '.intro'


%ul.tabs
  %li
    %a{:href => bills_path(:sort => @sort), :class => (@current_tab == :all ? 'active' : '')} All

  %li.divider &#124;

  %li
    %a{:href => bills_upper_path(:sort => @sort), :class => (@current_tab == :upper ? 'active' : '')}= @state.upper_chamber.name
      
  %li.divider &#124;  

  %li
    %a{:href => bills_lower_path(:sort => @sort), :class => (@current_tab == :lower ? 'active' : '')}= @state.lower_chamber.name

.sort.grid_12.alpha
  %ul.sorts
    %li.sort_label
      Sort by
    - @sorts.each do |k, v|
      %li
        = link_to(v, url_for(:sort => k), :class => (k.to_s == @sort ? 'active' : nil))
.space.clear

%ul.lined.and_spaced#bill_list
  = render :partial => 'shared/bill', :collection => @bills, :locals => {:hide_key_vote => (['keyvotes','mentions'].include?(@sort) ? true : false)}

%a.more{:href => search_path(:search_type => 'bills')} Browse All Bills &rarr;
