- title("#{@bill.state.name} #{@bill.bill_number} News and Blog Coverage")

= render :partial => 'wrapper'

- if @bill.mentions.empty?
  %p.no_results= t '.no_results', :search_term => "#{@bill.state.name} #{@bill.bill_number}"
  
- else

  %p= t '.results_intro', :search_term => "#{@bill.state.name} #{@bill.bill_number}"
  
  %div.grid_6.alpha
    %h3 Google News
    %ul.lined.and_spaced.with_titles
      = render @bill.google_news_mentions
  %div.grid_6.omega
    %h3 Blogs
    %ul.lined.and_spaced.with_titles
      = render @bill.google_blog_mentions
