- title("#{@bill.state.name} #{@bill.bill_number} News and Blog Coverage")

.grid_16
  %h1
    %span.state-and-chamber
      = "#{@bill.state.name} #{@bill.chamber.name} Bill "
    %span
      = "#{@bill.bill_number}"
    %hr

%hr.grid_16

= render :partial => 'nav'

%div.grid_12
  - if @bill.citations.empty?
    %div.no_results Well, no news or blog mentions found for this bill at this time. But hey, we can build on this. Here's what we do: using Google News and Blog Search, we automatically search the Web for citations of this bill by its official number, using the query, say, "Texas Bill HB 1", "Texas Bill SB 362", etc. Any matching results would be displayed below, but in their absence, there are a couple of likely reasons for this state of affairs that are worth mentioning. First, unfortunately, there are often not a lot of specific mentions of individual bills in state government out there on the Web to be found -- i.e., we're starting with a deficit of attention and resources for legislation at the state and local levels. Second, some entities in state government such as issue-based groups or political reporters may be writing about this bill, but not on the Web where search engines can find their content. In order to build public knowledge about bills and issues in state government, then, we need to first publish them online in open standards -- i.e., not on password-protected proprietary services like Facebook or Twitter, but rather on the great expanse of the world wide Web -- so that everyone can easily find information about this bill and learn what's really happening with it. As for what you can do, publish a blog post of your own or write a letter to your local newspaper / political blog that refers to this bill by its official title and number -- if it's published on the Web where search engines can find it, a link to your post will automatically appear here within 24 hours or so for everyone to access. And that would be greatly helpful. There's lots more to do to make our government more open and accountable -- read more about <a href="/pages/help">how you can help</a>.
  - else
    %div.grid_12.alpha.omega
      Here are the news and blog mentions found for the official title of this bill (e.g., "Texas Bill HB 1") from our automated search of the Web (via Google News and Blog searches). You can add links of your own on this page and help build public knowledge about this bill. Simply mention this bill by its official title and number in a blog post or on your website, and if it's published on the open Web where search engines can find it, a link to your webpage will automatically appear here within 24 hours. Or, if you don't have a blog or website, you can write a letter to a local newspaper or political blog that mentions this specific bill, and if your letter is published on the Web, a link to that page will be gathered here for everyone to access. We've done our best to optimize our automated search processes for this bill title, but occasionally even our state-of-the-art search robots bring in irrelevant links, such as sports scores or misc. statistics -- so if you see irrelevant links below, it's no big deal, please carry on. Actually, if you can take a moment to help, simply <a href="/pages/contact">send us an email</a> with the URL of this webpage and we'll get the extraneous links cleaned-up and out-of-the-way as quickly as possible. Now, here's what we found by way of real-world news & blog context for this bill:
    %div.grid_6.alpha
      %h3 Google News
      %ul.lined.and_spaced.with_titles
        = render :partial => 'shared/citation', :collection => @bill.google_news_citations
    %div.grid_6.omega
      %h3 Blogs
      %ul.lined.and_spaced.with_titles
        = render :partial => 'shared/citation', :collection => @bill.google_blog_citations
