- title(t('.news_and_coverage_for', :state => @bill.state.name, :bill_number => @bill.bill_number))

= render :partial => 'wrapper'

- if @bill.mentions.empty?
  %p.no_results= t '.no_results', :search_term => "#{@bill.state.name} #{@bill.bill_number}"
  
- else

  %p= t '.results_intro', :search_term => "#{@bill.state.name} #{@bill.bill_number}"
  
  %div.grid_6.alpha
    %h3 
      = t('.google_news')
    - if @bill.google_news_mentions.any?
      %ul.lined.and_spaced.with_titles
        = render @bill.google_news_mentions
    - else 
      %p Sorry, no results found at this time. If you know of a relevant news article to display here, <a href="/pages/contact">let us know</a>. 
  %div.grid_6.omega
    %h3 
      = t('.blogs')
    - if @bill.google_blog_mentions.any?
      %ul.lined.and_spaced.with_titles
        = render @bill.google_blog_mentions
    - else 
      %p Sorry, no results found at this time. If you know of a relevant blog article to display here, <a href="/pages/contact">let us know</a>. 
