
.grid_16
  %h1
    %span.state-and-chamber
      = "#{@bill.state.name} #{@bill.chamber.name} Bill "
    %span
      = "#{@bill.bill_number}"

    %hr

= render :partial => 'nav'

- if @bill.citations.count > 0
  %div.grid_12
    %h2 Citations
    %div.grid_4.alpha
      %h3 Google News
      %ul.lined.and_spaced.with_titles
        = render :partial => 'shared/citation', :collection => @bill.google_news_citations

    %div.grid_4
      %h3 Blogs
      %ul.lined.and_spaced.with_titles
        = render :partial => 'shared/citation', :collection => @bill.google_blog_citations
