- content_for :head do
  = auto_discovery_link_tag(:atom, {:format => :atom}, {:title => "Bill Actions"})
- title("#{@state.name} Bill #{@bill.bill_number}")
%h2
  = "#{@state.name} Bill #{@bill.bill_number}"

%p
  %div
    = @bill.title
%p
  %div
    = "Session: #{@bill.session.start_year} - #{@bill.session.end_year}"
  %div
    = "Chamber: #{@bill.chamber.name}"

%h4 Sponsors

%p
  - @bill.sponsors.each do |sponsor|
    %div
      = link_to(sponsor.full_name, person_path(sponsor))

%h4 Actions

%p
  - @bill.actions.each do |action|
    %div
      = action.actor
      = action.action

%h4 Versions

%p
  - @bill.versions.each do |version|
    %div
      = link_to(version.name, version.url)

%h4 Votes

%p
  - unless @bill.votes.size > 0
    %p No votes are available for this bill.
  - else
    - @bill.votes.each do |vote|
      %p
        %div
          = link_to "Motion: #{vote.motion}", state_vote_path(@state, vote.id)
        %div
          = "YES count: #{vote.yes_count}"
        %div
          = "NO count: #{vote.no_count}"
        %div
          = "Other count: #{vote.other_count}"
        %div
          = "Passed: #{vote.passed? ? "Yes": "No"}"

%div.social
  %p Tweet this bill using the hashtags #{@bill.to_hashtags}