- content_for :head do
  = auto_discovery_link_tag(:atom, major_actions_bill_path(@bill.session, @bill, :format => :atom), {:title => "Major Actions"})
  = auto_discovery_link_tag(:atom, actions_bill_path(@bill.session, @bill, :format => :atom), { :title => "All Actions"})

- title("#{@bill.state.name} #{@bill.chamber.name} Bill #{@bill.bill_number}")
- track(@bill)
- tweets(@bill.to_hashtags, 2)

= render 'wrapper', :show_tools => true

.grid_12.alpha
  %span.session Session: #{raw @bill.session.name_fm}

  = render 'shared/view_counts', :page => @bill

%hr
%h2.no-border Status
- status_bar(@bill)
.clear

%hr


.grid_6.alpha
  .sponsor_preview
    %h2= pluralize(@sponsors.count, 'Sponsor')
    = link_to('See all', sponsors_bill_path(@bill.session, @bill), :class => 'modal see_all')
    .sponsor_mugs
      = sponsor_mugs(@sponsors, :limit => 10)
    %ul.lined
      - @sponsors.each do |s|
        - if !s.sponsor_id || s.sponsor.photo_url.blank?
          %li
            - surround '',',' do
              = s.sponsor_id? ? link_to(s.sponsor.full_name, person_path(s.sponsor)) : s.sponsor_name
            = s.kind_fm
  %br
  %h2 Subject Areas
  - if @bill.subjects.any?
    %ul.lined
      - @bill.subjects.each do |subject|
        %li= link_to(subject.name, subject_path(subject))
  - else
    %p None.


.grid_6.omega
  %h2 Bill Text
  - if @bill.versions.any?
    %ul.lined
      - @bill.versions.each do |version|
        %li= link_to_document(version)

  = t '.missing_bill_text'

  - if @bill.documents.any?
    .document_preview
      %h2 #{@bill.documents.size} Documents
      = link_to('See all', documents_bill_path(@bill.session, @bill), :class => 'compact_modal see_all')

      %ul.lined.documents
        = render :partial => 'document', :collection => @bill.documents.limit(5)

.space

- if @actions.limit(2).size > 0
  .grid_12.alpha
    %h2 Recent Actions
    #bill_actions
      = render 'actions_table', :actions => @actions.limit(2)
      = link_to(raw("All #{pluralize(@actions.size, 'Action')} &rarr;"), votes_bill_path(@bill.session, @bill, :actions => 'all'), :class => 'more')

%hr.push_top

- if @votes.limit(2).size > 0
  .grid_12.alpha
    %h2 Recent Votes
    %table.vote-summary.grid_12.alpha
      %tbody
        = render @votes

    = link_to(raw("All #{pluralize(@votes.size, 'Vote')} &rarr;"), votes_bill_path(@bill.session, @bill), :class => 'more')

.space

.grid_12.alpha

  #twitter(style="display: none;")
    %h2 Twitter Mentions
    #notweets(style="display: none;")
      %p= t '.no_tweets', :hashtags => @bill.to_hashtags
    %ul#tweets

- if @bill.citations.any?
  .citations
    %p
      Primary sources for this bill:
    %ul
      = render @bill.citations
    How did we get all this info for this bill -- its news & blog coverage, social media mentions, etc.? Well, it's an interesting story. Read more about
    = succeed '.' do
      = link_to('our data sources', page_path('about', :anchor => 'data_sources'))
