- content_for :head do
  = auto_discovery_link_tag(:atom, {:format => :atom}, {:title => "All Actions"})
  = auto_discovery_link_tag(:atom, {:action => 'major_actions', :format => :atom}, {:title => "Major Actions"})

- title("#{@bill.state.name} #{@bill.chamber.name} Bill #{@bill.bill_number}")

.span-24.last
  .span-20
    %hgroup
      %h3= "#{@bill.state.name} #{@bill.chamber.name} Bill #{@bill.bill_number}"
      %h4= @bill.title
  .span-4.last(style="padding-top: 15px;")
    = rand(100000)
    total views,<br />
    = rand(100)
    in the last 7 days,<br />
    = rand(1000)
    in the last month.

.span-24.last
  %p
    %div
      = "Session: #{@bill.session.start_year} - #{@bill.session.end_year}"
    %div
      Track via RSS:
      = link_to "All actions", {:format => :atom}
      = link_to "Major actions", {:action => 'major_actions', :format => :atom}

  .span-12
    %h4 Sponsors
    %p
      - @bill.sponsors.each do |sponsor|
        %div
          = link_to(sponsor.full_name, person_path(sponsor))
  .span-12.last
    - if @bill.versions.size > 0
      %h4 Versions

      %p
        - @bill.versions.each do |version|
          %div
            = link_to(version.name, version.url)


  .span-24.last
    - if @bill.major_actions.size > 0
      %h4 Major Actions | #{link_to "All Actions", url_for, :remote => true}
      .span-24.last
        %table.bill_actions
          %tr
            %th Date
            %th Chamber
            %th Action
          - @bill.major_actions.each do |action|
            %tr{:class => (action.major? ? "major" : "")}
              %td= action.date && action.date.to_s(:pretty)
              %td= action.actor_fm
              %td= action.action_fm
              %td= link_to("link", action)

    - if @bill.votes.size > 0
      %h4 Votes
      %ul.votes
        - @bill.votes.each do |vote|
          %li= render :partial => 'shared/vote', :locals => {:vote => vote}

    - if @bill.citations.size > 0
      %div.span-24.last
        %h4 Citations
        %div.span-8
          %h4 Google News
          - @bill.google_news_citations.each do |citation|
            %span
              = link_to citation.title, citation.url
              %div
                = citation.excerpt

        %div.span-8
          %h4 Blogs
          - @bill.google_blog_citations.each do |citation|
            %span
              = link_to citation.title, citation.url
              %div
                = citation.excerpt

        %div.span-8.last
          %h4 Technorati
          = @bill.technorati_citations.each do |citation|
            %span
              = link_to citation.title, citation.url
              %div
                = citation.excerpt

    %div.social
      %p Tweet this bill using the hashtags #{@bill.to_hashtags}
