- content_for :head do
  = auto_discovery_link_tag(:atom, {:action => 'major_actions', :format => :atom}, {:title => "Major Actions"})
  = auto_discovery_link_tag(:atom, {:format => :atom}, {:title => "All Actions"})

- title("#{@bill.state.name} #{@bill.chamber.name} Bill #{@bill.bill_number}")
- track(@bill)

.grid_16
  %hgroup
    %h1.grid_13.alpha= "#{@bill.state.name} #{@bill.chamber.name} Bill #{@bill.bill_number}"
    %h3
      Session: #{raw @bill.session.name_fm}
  %hr


%nav.grid_4
  #left_nav
    = render_navigation(:level => 3)
    
.grid_12
  .grid_8.alpha
    = render :partial => 'shared/view_counts', :locals => {:page => @bill}

  .grid_8.omega
    %div
      Track via RSS:
      = link_to "All actions", {:actions => 'all', :format => :atom}
      = link_to "Major actions", {:actions => 'major', :format => :atom}

  %hr

  %p.grid_12.summary= @bill.title

  %hr.push_top

  .grid_8.alpha
    %h2 Sponsors
    %ul.lined
      - @bill.sponsors.each do |sponsor|
        %li
          = link_to(sponsor.full_name, person_path(sponsor))
  .grid_8.omega
    - if @bill.versions.size > 0
      %h2 Versions

      %ul.lined
        - @bill.versions.each do |version|
          %li
            = link_to(version.name, version.url)

  %hr.push_top

  - if @bill.major_actions.size > 0
    %h2 #{link_to "Major Actions", url_for(:actions => 'major'), :remote => true} | #{link_to "All Actions", url_for(:actions => 'all'), :remote => true}
    .grid_12.last
      #bill_actions= render :partial => 'actions_table', :locals => {:actions => @actions}

  - if @bill.votes.size > 0
    %h2 Votes
    %table.vote-summary.grid_16.alpha
      %thead
        %tr
          %th.vote-motion Motion
          %th.vote-votes Total Votes
          %th.centered Yes
          %th.centered No
          %th.centered Other
          %th Outcome

      %tbody
        - @bill.votes.each do |vote|
          %tr
            %td(rowspan=2)
              %h4= link_to("#{vote.motion}", vote_path(vote))
              %br
              .vote-summary-line
                %span.voters= vote.total_count
                people voted on
                %span.vote_date= vote.date
            %td.votes{:rowspan => 2}
              %span.total-votes.rounded= vote.total_count
            %td.votes.centered{:rowspan => 2, :class => vote.passed? ? 'vote-passed' : ''}
              %span.vote-yes.rounded= vote.yes_count.round
            %td.votes.centered{:rowspan => 2, :class => vote.passed? ? '' : 'vote-failed'}
              %span.vote-no.rounded= vote.no_count.round
            %td.votes.centered(rowspan=2)
              %span.other-votes.rounded= vote.other_count.round
            %td{:colspan => 3, :class => 'vote-needed-bar'}
              %span{:class => 'vote-needed', :style => "width: #{number_with_precision(vote.needed_to_pass_pct)}%;"} &nbsp;
          %tr
            %td.vote-bar
              %span{:class => 'vote-yes-block', :style => "width: #{number_with_precision(vote.yes_pct)}%;"} &nbsp;
              %span{:class => 'vote-no-block', :style => "width: #{number_with_precision(vote.no_pct)}%;"} &nbsp;
              %span{:class => 'vote-other-block', :style => "width: #{number_with_precision(vote.other_pct)}%;"} &nbsp;


  %hr


  - if @bill.citations.size > 0
    %div.grid_12
      %h2 Citations
      %div.grid_4.alpha
        %h3 Google News
        %ul.lined.and_spaced.with_titles
          - @bill.google_news_citations.each do |citation|
            %li
              = link_to citation.title, citation.url
              = citation.excerpt

      %div.grid_4
        %h3 Blogs
        %ul.lined.and_spaced.with_titles
          - @bill.google_blog_citations.each do |citation|
            %li
              = link_to citation.title, citation.url
              = citation.excerpt

      %div.grid_4.omega
        %h3 Technorati
        %ul.lined.and_spaced.with_titles
          = @bill.technorati_citations.each do |citation|
            %li
              = link_to citation.title, citation.url
              = citation.excerpt

  %div.social
    %p Tweet this bill using the hashtags #{@bill.to_hashtags}
