%div.span-24.last
  %h4
    = "Bill #{@bill.bill_number}"

  %p
    %div
      = @bill.title
  %p
    %div
      = "State: #{@bill.state.name}"
    %div
      = "Session: #{@bill.session.start_year} - #{@bill.session.end_year}"
    %div
      = "Chamber: #{@bill.chamber.name}"

  %h4 Sponsors

  %p
    - @bill.sponsors.each do |sponsor|
      %div
        = link_to(sponsor.full_name, person_path(sponsor))

  %h4 Actions

  %p
    - @bill.actions.each do |action|
      %div
        = action.actor
        = action.action

  %h4 Versions

  %p
    - @bill.versions.each do |version|
      %div
        = link_to(version.name, version.url)

  %h4 Votes

  %p
    - @bill.votes.each do |vote|
      %p
        = "Motion: #{vote.motion}"
        %div
          = "YES count: #{vote.yes_count}"
        %div
          = "NO count: #{vote.no_count}"
        %div
          = "Other count: #{vote.other_count}"
        %div
          = "Passed: #{vote.passed? ? "Yes": "No"}"

  %h4 Citations

  %div.span-8
    %h4 Google News
    - @bill.citations[:google_news].each do |citation|
      %span
        = link_to citation.title, citation.url
        %p
          = citation.excerpt.html_safe!

  %div.span-8
    %h4 Blogs
    - @bill.citations[:google_blogs].each do |citation|
      %span
        = link_to citation.title, citation.url
        %p
          = citation.excerpt.html_safe!

  %div.span-8.last
    %h4 Technorati
    = @bill.citations[:technorati].each do |citation|
      %span
        = link_to citation.title, citation.url
        %p
          = citation.excerpt.html_safe!
