- content_for :head do
  = auto_discovery_link_tag(:atom, major_actions_bill_path(@bill.session, @bill, :format => :atom), {:title => "Major Actions"})
  = auto_discovery_link_tag(:atom, actions_bill_path(@bill.session, @bill, :format => :atom), { :title => "All Actions"})

- title("#{@bill.state.name} #{@bill.chamber.name} #{@bill.bill_number}")
- track(@bill)
- tweets(@bill.to_hashtags, 2)




= render 'wrapper', :show_tools => true


.bill-mugs
  .sponsor_preview
    -#%h2= t('.sponsors', :count => @sponsors.count)

    .sponsor_mugs
      = sponsor_mugs(@sponsors, :limit => 10)
    %ul.lined
      - @sponsors.each do |s|
        - if !s.sponsor_id || s.sponsor.photo_url.blank?
          %li
            - surround '',',' do
              = s.sponsor_id? ? link_to(s.sponsor.full_name, person_path(s.sponsor)) : s.sponsor_name
            = s.kind_fm
    = link_to(t('.see_all'), sponsors_bill_path(@bill.session, @bill), :class => 'modal see_all')

.grid_9.alpha
  %span.session.hide 
    = t '.session'
    #{raw @bill.session.name_fm}

  = render 'shared/view_counts', :page => @bill


.grid_12.alpha
  %h2= t '.status'
  - status_bar(@bill)

  %hr

  .grid_3.alpha
    %h2= t '.bill_text' 
    - if @bill.versions.any?
      %ul.lined
        = render :partial => 'documents/document', :collection => @bill.versions

    %span.small= t '.bill_text_intro'
  
    - if @bill.documents.any?
      .document_preview
        %h2= t('.documents', :count => @bill.documents.size)
        = link_to(t('.see_all'), documents_bill_path(@bill.session, @bill), :class => 'compact_modal see_all')

        %ul.lined.documents
          = render :partial => 'documents/document', :collection => @bill.documents.limit(5)


  .grid_5
    %h2= t '.subject_areas'
    - if @bill.subjects.any?
      %ul.lined
        - @bill.subjects.each do |subject|
          %li= link_to(subject.name, subject_path(@bill.session, subject))
    - else
      %p= t '.none'
    
  
  
  %hr.space


- if @actions.limit(2).size > 0
  .grid_12.alpha
    %h2= t '.recent_actions' 
    #bill_actions
      = render 'actions_table', :actions => @actions.limit(2)
      = link_to(raw("#{t('.actions', :count => @actions.size)} &rarr;"), votes_bill_path(@bill.session, @bill, :actions => 'all'), :class => 'more')

%hr.push_top

- if @votes.limit(2).size > 0
  .grid_12.alpha
    %h2= t '.recent_votes'
    .vote-summary.grid_12.alpha
      = render @votes

    = link_to(raw("#{t('.votes', :count => @votes.size)} &rarr;"), votes_bill_path(@bill.session, @bill), :class => 'more')


.grid_12.alpha

  #twitter(style="display: none;")
    %h2= t '.twitter_mentions' 
    #notweets(style="display: none;")
      %p= t '.no_tweets', :hashtags => @bill.to_hashtags
    %ul#tweets

- if @bill.citations.any?
  .citations
    %p= t '.primary_sources_for'
    %ul
      = render @bill.citations
    = t '.how_did_we_get'
    = succeed '.' do
      = link_to(t('.our_data_sources'), page_path('about', :anchor => 'data_sources'))
