- content_for :head do
  = auto_discovery_link_tag(:atom, {:action => 'major_actions', :format => :atom}, {:title => "Major Actions"})
  = auto_discovery_link_tag(:atom, {:format => :atom}, {:title => "All Actions"})

- title("#{@bill.state.name} #{@bill.chamber.name} Bill #{@bill.bill_number}")
- track(@bill)
- tweets(@bill.to_hashtags, 2)

= render :partial => 'wrapper', :locals => {:show_tools => true}

.grid_12
  .grid_12.alpha
    = render :partial => 'shared/view_counts', :locals => {:page => @bill}

  %hr
  
  .grid_12.alpha
    %span.session Session: #{raw @bill.session.name_fm}
    %p.grid_12.alpha.summary= @bill.title

  - status_bar(@bill)
  .clear

  .grid_6.alpha
    %h2 Sponsors
    = sponsor_mugs(@sponsors)
    %ul.lined
      - @sponsors.each do |s|
        - if !s.sponsor_id || s.sponsor.photo_url.blank?
          %li
            - surround '',',' do
              = s.sponsor_id? ? link_to(s.sponsor.full_name, person_path(s.sponsor)) : s.sponsor_name
            = s.kind_fm

  .grid_6.omega
    - if @bill.versions.count > 0
      %h2 Versions
  
      %ul.lined
        - @bill.versions.each do |version|
          %li
            = version.url.blank? ? version.name : link_to(version.name, version.url)

    - if @bill.documents.count > 0
      %h2 Documents

      %ul.lined
        - @bill.documents.each do |document|
          %li
            = document.url.blank? ? document.name : link_to(document.name, document.url)

  .space

  - if @few_actions.size > 0
    .grid_12.alpha
      %h2 Recent Actions
      #bill_actions
        = render :partial => 'actions_table', :locals => {:actions => @few_actions}
        = link_to(raw("Full bill history &rarr;"),  votes_bill_path(@bill.session, @bill))

  %hr.push_top


  - if @few_votes.size > 0
    .grid_12.alpha
      %h2 Recent Votes
      %table.vote-summary.grid_12.alpha
        %tbody
          = render :collection => @few_votes, :partial => 'shared/vote'

      = link_to(raw("All votes &rarr;"),  votes_bill_path(@bill.session, @bill))


  .space



  .grid_12.alpha
    #twitter(style="display: none;")
      %h2 Tweets
      #notweets(style="display: none;")
        %p Sorry, there were no tweets found for #{@bill.bill_number}.
      %ul#tweets
