- content_for :head do
  = auto_discovery_link_tag(:atom, major_actions_bill_path(@bill.session, @bill, :format => :atom), {:title => "Major Actions"})
  = auto_discovery_link_tag(:atom, actions_bill_path(@bill.session, @bill, :format => :atom), { :title => "All Actions"})

- title("#{@bill.state.name} #{@bill.chamber.name} #{@bill.bill_number}")
- track(@bill)
- tweets(@bill.to_hashtags, 2)


= render 'wrapper'
= render 'shared/view_counts', :page => @bill


.grid_9.alpha.hide 
  %span.session
    = t '.session'
    #{raw @bill.session.name_fm}




.bill-mugs
  - if @sponsors.count > 0
    .sponsor_mugs
      %ul.lined= render :partial => 'sponsor', :collection => @sponsors.limit(3)
      .clear
      = link_to(t('.see_all_sponsors', :count => @sponsors.count), sponsors_bill_path(@bill.session, @bill), :class => 'modal see_all')


.write_buttons
  %h4
    %span= t('bills.write.write')
    
  .form
    = form_tag(search_people_path, :method => :get, :id => 'find_my_rep')
    %strong= t 'bills.write.find_your_rep', :chamber_name => @bill.chamber.title
    %label(for='q')= t 'bills.write.location_prompt'
    = text_field_tag :q, params[:q], :autocomplete => 'off'
    .find_button
      = submit_tag t('bills.write.find_button'), :class => 'button'
    </form>
    %a{:style => 'display: none', :id => 'rep_link', :class => 'modal'}
    -# Form results appear in a colorbox, not a separate page.
    :ruby
      javascript do
        (%Q|
          $(document).ready(function() {
            $('#find_my_rep input:submit').click(function(e){
              $('#rep_link').attr('href', '#{search_people_path}?chamber_id=#{@bill.chamber.id}&q='+ encodeURI($('#find_my_rep input[name=q]').val()));
              $('#rep_link').click();
              e.preventDefault();
            });
          });
        |)
      end

-# TODO: These are turned off for now. Please implement.
.support_buttons(style="display: none;")
  %a.support.button(rel='tipsy' title='Give a personal vote "aye" or "nay" for this person &mdash; coming soon!')
    %span I Support this Bill!
  %a.oppose.button(rel='tipsy' title='Give a personal vote "aye" or "nay" for this person &mdash; coming soon!')
    %span I Oppose this Bill!




.grid_12.alpha
  %h2= t '.status'
  - status_bar(@bill)

  %hr.space

  .grid_4.alpha
    %h2= t '.bill_text' 
    - if @bill.versions.any?
      %ul.lined
        = render :partial => 'documents/document', :collection => @bill.versions

    %span.small= t '.bill_text_intro'
  
    - if @bill.documents.any?
      .document_preview
        %h2= t('.documents', :count => @bill.documents.size)
        = link_to(t('.see_all'), documents_bill_path(@bill.session, @bill), :class => 'compact_modal see_all')

        %ul.lined.documents
          = render :partial => 'documents/document', :collection => @bill.documents.limit(5)
  
  .grid_8.mentions.omega
    %h2= t '.mentions'
    - if @bill.mentions.count > 0
      %ul.lined
        = render @bill.mentions.limit(2)
      %p= link_to(t('site.more_link'), news_bill_path(@bill.session, @bill), :class => 'more')
    - else
      %p= t '.no_mentions'

  %hr.space

- if @actions.limit(2).size > 0
  .grid_12.alpha
    %h2= t '.recent_actions' 
    #bill_actions
      = render 'actions_table', :actions => @actions.limit(2)
      = link_to(raw("#{t('.actions', :count => @actions.size)} &rarr;"), votes_bill_path(@bill.session, @bill, :actions => 'all'), :class => 'more')

- if @bill.key_votes.any?
  .key_vote_actions
    %ul= render @bill.key_votes

%hr.push_top

- if @votes.limit(2).size > 0
  .grid_12.alpha
    %h2= t '.recent_votes'
    .vote-summary.grid_12.alpha
      = render @votes

    = link_to(raw("#{t('.votes', :count => @votes.size)} &rarr;"), votes_bill_path(@bill.session, @bill), :class => 'more')


.grid_12.alpha

  #twitter(style="display: none;")
    %h2= t '.twitter_mentions' 
    #notweets(style="display: none;")
      %p= t 'site.no_tweets', :hashtags => @bill.to_hashtags
    %ul#tweets

- if @bill.citations.any?
  .citations
    %p= t '.primary_sources_for'
    %ul
      = render @bill.citations
    = t '.how_did_we_get'
    = succeed '.' do
      = link_to(t('.our_data_sources'), page_path('about', :anchor => 'data_sources'))
