%h4
  = "Bill #{@bill.legislature_bill_id}"

%p
  %div
    = @bill.title
%p
  %div
    = "State: #{@bill.state.name}"
  %div
    = "Session: #{@bill.session.start_year} - #{@bill.session.end_year}"
  %div
    = "Chamber: #{@bill.chamber.name}"

%h4 Sponsors

%p
  - @bill.sponsors.each do |sponsor|
    %div
      = sponsor.full_name

%h4 Actions

%p
  - @bill.actions.each do |action|
    %div
      = action.actor
      = action.action

%h4 Versions

%p
  - @bill.versions.each do |version|
    %div
      = link_to(version.name, version.url)

%h4 Votes

%h4
  = @bill.state.legislature.upper_chamber.name

%p
  - @bill.upper_chamber_votes.each do |vote|
    %p
      = "Motion: #{vote.motion}"
      %div
        = "YES count: #{vote.yes_count}"
      %div
        = "NO count: #{vote.no_count}"
      %div
        = "Other count: #{vote.other_count}"
      %div
        = "Passed: #{vote.passed? ? "Yes": "No"}"

%h4
  = @bill.state.legislature.lower_chamber.name

%p
  - @bill.lower_chamber_votes.each do |vote|
    %p
      = "Motion: #{vote.motion}"
      %div
        = "YES count: #{vote.yes_count}"
      %div
        = "NO count: #{vote.no_count}"
      %div
        = "Other count: #{vote.other_count}"
      %div
        = "Passed: #{vote.passed? ? "Yes": "No"}"
