- content_for :head do
  = auto_discovery_link_tag(:atom, major_actions_bill_path(@bill.session, @bill, :format => :atom), {:title => "Major Actions"})
  = auto_discovery_link_tag(:atom, actions_bill_path(@bill.session, @bill, :format => :atom), { :title => "All Actions"})

- title("#{@bill.state.name} #{@bill.chamber.name} #{@bill.bill_number}")
- track(@bill)
- tweets(@bill.to_hashtags, 2)


= render 'wrapper'




.grid_9.alpha.hide 
  %span.session
    = t '.session'
    #{raw @bill.session.name_fm}

.grid_4.alpha.clearboth
  .bill-mugs
    - if @sponsors.count > 0
      %h2= t '.sponsors'
      .sponsor_mugs
        %ul= render @sponsors.limit(3)
        .clear
        = link_to(t('.see_all_sponsors', :count => @sponsors.count), sponsors_bill_path(@bill.session, @bill), :class => 'modal see_all') if @sponsors.count > 3


.subject_areas.grid_2
  %h2 Issues
  %ul
    - @bill.subjects.each do |subject|
      %li= link_to(subject.name, subject_path(@bill.session, subject))
  

.grid_3
  %h2= t '.bill_text' 
  - if @bill.versions.any?
    %ul.lined
      = render :partial => 'documents/document', :collection => @bill.versions.limit(5)

  %span.small= t '.bill_text_intro'
  - if @bill.documents.any?
    .document_preview
      %h2= t('.documents', :count => @bill.documents.size)

      %ul.lined.documents
        = render :partial => 'documents/document', :collection => @bill.documents.limit(5)

  - if @bill.documents.size + @bill.versions.size > 1
    = link_to(t('site.more_link'), documents_bill_path(@bill.session, @bill), :class => 'compact_modal see_all')



.grid_3.omega
  .write_buttons
    %h2
      %span= t('bills.write.write')
    
    .form
      = form_tag(search_people_path, :method => :get, :id => 'find_my_rep')
      %strong= t 'bills.write.find_your_rep', :chamber_name => @bill.chamber.title
      %label(for='q')= t 'bills.write.location_prompt'
      = text_field_tag :q, params[:q], :autocomplete => 'off'
      .find_button
        = submit_tag t('bills.write.find_button'), :class => 'button'
      </form>
      %a{:style => 'display: none', :id => 'rep_link', :class => 'modal'}
      -# Form results appear in a colorbox, not a separate page.
      :ruby
        javascript do
          (%Q|
            $(document).ready(function() {
              $('#find_my_rep input:submit').click(function(e){
                $('#rep_link').attr('href', '#{search_people_path}?chamber_id=#{@bill.chamber.id}&q='+ encodeURI($('#find_my_rep input[name=q]').val()));
                $('#rep_link').click();
                e.preventDefault();
              });
            });
          |)
        end

  .hide
    - if @bill.key_votes.any?
      = render @bill.key_votes.first

-# TODO: These are turned off for now. Please implement.
.support_buttons(style="display: none;")
  %a.support.button(rel='tipsy' title='Give a personal vote "aye" or "nay" for this person &mdash; coming soon!')
    %span I Support this Bill!
  %a.oppose.button(rel='tipsy' title='Give a personal vote "aye" or "nay" for this person &mdash; coming soon!')
    %span I Oppose this Bill!

.grid_12.alpha

  .grid_12.mentions.omega.alpha
    %h2= t '.mentions'
    - if @bill.mentions.count > 0
      %ul.lined
        = render @bill.mentions.limit(2)
      %p= link_to(t('site.more_link'), news_bill_path(@bill.session, @bill), :class => 'more') if @bill.mentions.count > 2
    - else
      %p= t '.no_mentions'

  %hr.space

- if @actions.limit(2).size > 0
  .grid_12.alpha
    %h2= t '.recent_actions' 
    #bill_actions
      = render 'actions_table', :actions => @actions.limit(2)
      = link_to(raw("#{t('.actions', :count => @actions.size)} &rarr;"), votes_bill_path(@bill.session, @bill, :actions => 'all'), :class => 'more') if @actions.size > 2

%hr.push_top

- if @votes.limit(2).size > 0
  .grid_12.alpha
    %h2= t '.recent_votes'
    .vote-summary.grid_12.alpha
      = render @votes.limit(2)

    = link_to(raw("#{t('.votes', :count => @votes.size)} &rarr;"), votes_bill_path(@bill.session, @bill), :class => 'more') if @votes.size > 2

.grid_12.alpha

  #twitter(style="display: none;")
    %h2= t '.twitter_mentions' 
    #notweets(style="display: none;")
      %p= t 'site.no_tweets', :hashtags => @bill.to_hashtags
    %ul#tweets

- if @bill.citations.any?
  .citations
    %p= t '.primary_sources_for'
    %ul
      = render @bill.citations
    = t '.how_did_we_get'
    = succeed '.' do
      = link_to(t('.our_data_sources'), page_path('about', :anchor => 'data_sources'))
