- title(t('.tweets_about', :bill_number => @bill.bill_number))

= render 'wrapper'

%p= t '.intro', :search_term => @bill.to_hashtags

.twitter{:style => "display: none;", :'data-twitter-search' => @bill.to_hashtags}
  %h2 Tweets
  .grid_12.alpha
    .notweets(style="display: none;")
      %p= t('.no_mentions')
      %p= t('.click_tweet_this')
      %p= t('.theres_more_to_do')

    %ul.tweets
