- title("Videos for #{@bill.state.name} #{@bill.chamber.name} Bill #{@bill.bill_number}")

= render 'wrapper'

%p We believe that online video is an important and growing medium for engaging with our government at every level: state, city, local, and others. Unfortunately, the branches of U.S. state & city government generally do not comply with best practices of publishing video using open-source technology and open standards. More specifically, state legislatures do not make video of their proceedings (e.g., legislative actions like votes and committee hearings) available in ways that meet the community-generated <a href="http://www.opengovdata.org/" target="_blank">Principles of Open Government Data</a>, much less in ways that are widely recognized to be user-friendly. <!--While state government websites sometimes publish bits and pieces of video, there is no comprehensive and accessible solution for an average person to obtain video of all government actions, including important committee hearings, key vote proceedings in real-time, and more. Video coverage of state legislatures by political bloggers, issue-based organizations, and citizen watchdogs is often far-flung and difficult to search.-->

%p= t '.intro'

%p In the future, our goal is to aggregate useful video about every bill, issue, and member of state government here on OpenGovernment, all freely-licensed and available in open standards, to share & remix -- see <a href="/pages/help" target="_blank">how you can help</a>. 

%p Until video of state government is liberated by its primary source, we're using the free and open-source Miro Community software from a non-profit organization, the <a href="http://pculture.org/" target="_blank">Participatory Culture Foundation</a>, to create a crowdsourced hub of publicly-available video content for branches of state government. Head over there to see what's new and add online videos of which you know for everyone to access for educational and watchdogging purposes:

%a.mc{:href => t('videos.miro_url')}
  Watch
  = @bill.state.name
  Videos at the
  %br
  mini-site provided by
