- title("Videos for #{@bill.state.name} #{@bill.chamber.name} Bill #{@bill.bill_number}")

= render 'wrapper'
.grid_12
  %p We believe that online video is a vitally important (and often overlooked) medium for tracking and understanding our government at every level. Unfortunately, there is a shortage of free and open video sources for official actions in state and city legislatures. State governments themselves do not make video streams of their proceedings easily accessible -- while they sometimes publish . Video coverage by political bloggers, issue-based organizations, and citizen watchdogs is often far-flung and difficult to search. 
  
  %p In the future, our goal is to aggregate useful video about every bill, issue, and member of your state government here, all freely-licensed and made available in open standards to share & remix -- see <a href="/pages/help" target="_blank">how you can help</a>. 
  
  %p Until then, we're using the free and open-source Miro Community software to 'crowdsource' a hub of relevant publicly-available video content for each state. Head on over to see what's there and add videos of which you know:
  %a{:href => t('.miro_url')}= @bill.state.name

