- title("Videos for #{@bill.state.name} #{@bill.chamber.name} Bill #{@bill.bill_number}")

= render 'wrapper'

%p We believe that online video is an important and growing medium for engaging with our government at every level: state, city, local, and others. Unfortunately, state legislatures generally not make video of their proceedings (e.g., legislative actions like votes and committee hearings) available in ways that meet the community-generated <a href="http://www.opengovdata.org/" target="_blank">Principles of Open Government Data</a>.

%p= t '.intro'

%p In the future, our goal is to aggregate useful video about every bill, issue, and member of state government here on OpenGovernment, all freely-licensed and available in open standards, to share & remix -- see <a href="/pages/help" target="_blank">how you can help</a>. 

%p Until video of state government is liberated by its primary source, we're using the free and open-source Miro Community software to create a crowdsourced hub of publicly-available video content for branches of state government. 

%a.mc{:href => t('videos.miro_url')}
  Watch
  = @bill.state.name
  Videos at the
  %br
  mini-site provided by
