- title("#{@bill.state.name} #{@bill.chamber.name} Bill #{@bill.bill_number} Votes and Actions")

= render :partial => 'wrapper'

.grid_12
  %h2 Votes
  %table.vote-summary.grid_12.alpha

    %tbody
      = render :collection => @bill.votes, :partial => 'shared/vote'

  - if @bill.major_actions.count > 0
    .sort
      %ul
        %li{:class => (@actions_shown == :major ? 'active' : '')} #{link_to "Major Actions", bill_path(@bill.session, @bill, :actions => 'major'), :remote => true}
        %li.divider |
        %li{:class => (@actions_shown == :all ? 'active' : '')} #{link_to "All Actions", bill_path(@bill.session, @bill, :actions => 'all'), :remote => true}
        %li.spin(style="display: none;")
      .grid_12.alpha
        #bill_actions= render :partial => 'actions_table', :locals => {:actions => @actions}
