.grid_16
  %h1
    %span.state-and-chamber
      = "#{@bill.state.name} #{@bill.chamber.name} Bill "
    %span
      = "#{@bill.bill_number}"

    %hr

= render :partial => 'nav'

.grid_12
  %h2 Votes
  %table.vote-summary.grid_12.alpha

    %tbody
      - @bill.votes.each do |vote|
        %tr

          %td.vote_date= vote.date.to_html

          %td.vote-motion
            %h4= link_to("#{vote.motion}", vote_path(vote))
          %td.votes
            %span.total-votes.rounded= vote.total_count
            %span.small-label total votes
          %td.votes{:class => vote.passed? ? 'vote-passed' : ''}
            %span.vote-yes.rounded= vote.yes_count.round
            %span.small-label yes votes
          %td.votes{:class => vote.passed? ? '' : 'vote-failed'}
            %span.vote-no.rounded= vote.no_count.round
            %span.small-label no votes
          %td.votes
            %span.other-votes.rounded= vote.other_count.round
            %span.small-label other votes

          %td.vote-bar
            %span{:class => 'vote-yes-block', :style => "width: #{vote.yes_pct}%;"} &nbsp;
            %span{:class => 'vote-no-block', :style => "width: #{vote.no_pct}%;"} &nbsp;
            %span{:class => 'vote-other-block', :style => "width: #{vote.other_pct}%;"} &nbsp;
            %span{:class => 'vote-needed', :style => "width: #{vote.needed_to_pass_pct}%;"} &nbsp;


  - if @bill.major_actions.count > 0
    .sort
      %ul
        %li{:class => (@actions_shown == :major ? 'active' : '')} #{link_to "Major Actions", bill_path(@bill.session, @bill, :actions => 'major'), :remote => true}
        %li.divider |
        %li{:class => (@actions_shown == :all ? 'active' : '')} #{link_to "All Actions", bill_path(@bill.session, @bill, :actions => 'all'), :remote => true}
      .grid_12.alpha
        #bill_actions= render :partial => 'actions_table', :locals => {:actions => @actions}
