- title(@sig.name)


%h1
  = @sig.name
  .subhead
    = @sig.category.name

%hr

.sig_description
  = @sig.description

%div.vcard[@sig]
  %h2
    %span.type> Contact Information
  - unless @sig.email.blank?
    .sig_email= mail_to @sig.email, 'E-Mail', :class => 'email', :encode => :javascript
  - unless @sig.address.blank?
    %div.street-address!= @sig.address
    %span.locality>= @sig.city
    ,
    %span.region{:title => @sig.state.name}= @sig.state.abbrev
    %span.postal-code= @sig.zip
  - unless @sig.phone_one.blank?
    .tel
      %span.grid_1.alpha.type> Phone
      %span.grid_2.omega.value #{@sig.phone_one}
  - unless @sig.fax.blank?
    .tel
      %span.grid_1.alpha.type> FAX
      %span.grid_2.omega.value #{@sig.fax}

%hr

%nav.faceted.by_year
  - @years_available.each do |year|
    - if @year == year
      %em= year
    - else
      = link_to(year, params.merge(:year => year))

.grid_12.alpha
  %h2 Ratings
  .grid_6.alpha
    %table.ratings
      %thead
        %tr
          %th Person
          %th District
          %th Rating
          %th Year
      %tbody
        = render @ratings[0...@ratings.size/2]
  .grid_6.omega
    %table.ratings
      %thead
        %tr
          %th Person
          %th District
          %th Rating
          %th Year
      %tbody
        = render @ratings[@ratings.size/2..@ratings.size]
