- title(@sig.name)

%h1.grid_16
  .grid_12
    = @sig.name
  .grid_4.last
    = @sig.category.name

%hr

- %w(description contact_name email city address phone_one).each do |attr|
  - attr_value = @sig.send(attr)
  - attr_name = attr.titleize
  %div.grid_8
    %h4
      = attr_name
    %div
      = attr_value.blank? ? "Not available": attr_value

%h4 Ratings
%hr
- @sig.ratings.each do |rating|
  %div.grid_6
    = link_to(rating.person.full_name, person_path(rating.person))
  %div.grid_1
    = rating.timespan
  %div.grid_1
    = rating.rating
