= title('Create a custom Bill Status Widget')

.grid_7
  .widget_preview.grid_4.omega
    %h2 Live Preview of your widget
    #widgetPreview
      :javascript
        var testWidget = new OG.Widget({
          version: 1,
          type: 'bill_status',
          state: '#{current_place_subdomain}',
          bill: {
            session: '#{@hot_bills.first.session.to_param}',
            number: '#{@hot_bills.first.to_param}'
          },
          width: 'auto',
          preview: true,
          theme: {
            background: '#f9f9f9',
            color: '#555',
            header: '#333',
            links: '#333'
          }
        }).render();


.widget_config.grid_8.omega.alpha
  %h2 Customize your widget

  %form
    #widgetBillData

    %label(for="widgetBill") Choose a popular bill:
    %select(id="widgetBill" class="widgetVar")
      - @hot_bills.each do |bill|
        %option{:'data-session' => bill.session.to_param, :'data-bill' => bill.to_param}= truncate(bill.title_fm, :length => 60)

    :javascript
      $('#widgetBill').change(function() {
        var el = $(this).find('option:selected');
        $('#widgetBillData').data('bill', el.data('bill'));
        $('#widgetBillData').data('session', el.data('session').toString());
      });

  %form
    %label(for="widgetBillLookup") Or lookup any bill:
    %input(type="text" id="widgetBillLookup")
    %input(type="submit" id="billLookupBtn")
  #billLookupResults

  :javascript
    $('#billLookupBtn').click(function () {
      // Lookup bill via jsonp
      $.ajax({
          dataType: "jsonp",
          url: '#{escape_javascript(search_bills_path(:format => :json))}?callback=?&q=' + $('#widgetBillLookup').val(),
          success: function(response) {
            $('#billLookupResults').innerHTML = window.JST['bill_search_results']({bill_search_results: response });
          }
      });

      return false;
    });

  %form
    = render :partial => 'color_choosers'

    #dimensions
      %label(for='widgetWidth') Width:
      %input(type="text" maxlength="3" size="3" id="widgetWidth" class="widgetVar" value="250")
      %span.note (in px)
      %p.small 
        (width changes do not appear in the preview)

  .space

  #get_the_code
    %h2 Get the Code
    %textarea(id="embed-code")
