%tr
  %td.rating_person(class="rating_#{rating.person.roles.first.party_abbr}")
    = link_to(rating.person.full_name, person_path(rating.person))
  %td
    = rating.person.roles.first.district_fm
    = rating.person.roles.first.party_fm
  %td= rating.rating
  %td= rating.timespan
