.rating_person(class="rating_#{rating.person.roles.first.party_abbr}")
  = link_to(rating.person.full_name, person_path(rating.person))
.grid_1
  = rating.person.roles.first.district_fm
  = rating.person.roles.first.party_fm
.grid_1
  = rating.rating
.grid_1.omega
  = rating.timespan
