- title(t '.about_og' )

%p
  = t '.foo'

%ol
  %li
    %p
      %a(href="/pages/about/#background_and_mission")
        = t '.background'
  %li 
    %p
      %a(href="/pages/about/#current_status")
        = t '.current_status'
  %li 
    %p 
      %a(href="/pages/about/#our_data_sources")
        = t '.our_data_sources'
  %li 
    %p 
      %a(href="/pages/about/#how_to_use_og")
        = t '.how_to_use'
  %li
    %p 
      %a(href="/pages/about/#search_tips")
        = t '.search_tips'
  %li 
    %p 
      %a(href="/pages/help")
        = t '.help_us'

.venn

%h2#background_and_mission 
  = t '.background_and_mission'

= t '.background_and_mission_text'

%h2#current_status
  %a(href="/pages/about/#our_current_status")
    = t '.current_status'

%p
  = t '.current_status_text'

%h2#our_data_sources
  %a(href="/pages/about/our_data_sources")
    = t '.our_data_sources'

.data.floatleft
  = image_tag 'pages/datascape.png' 

%p 
  = t '.our_data_sources_text', :og_bill_page_features_jpg => image_path('OpenGovernment_bill_page_features.jpg')

%h2#how_to_use_og 
  %a(href="/pages/about/how_to_use_og")
    = t '.how_to_use'

= t '.how_to_use_text'

%h2#search_tips
  %a(href="/pages/about/#search_tips")
    = t '.search_tips'

= t '.search_tips_text'

