- title("OG Badges")

%hr

%h2.push_bottom State Badges


%ul.badges
  %li
    %p= link_to(image_tag('state-badges/og-ca.png', :alt => 'California'), "http://ca.opengovernment.org")
    %textarea= link_to(image_tag('http://opengovernment.org/images/state-badges/og-ca.png', :alt => 'California'), "http://ca.opengovernment.org")
  %li 
    %p= link_to(image_tag('state-badges/og-wi.png', :alt => 'Wisconsin'), "http://wi.opengovernment.org")
    %textarea= link_to(image_tag('http://opengovernment.org/images/state-badges/og-wi.png', :alt => 'Wisconsin'), "http://wi.opengovernment.org")

  %li 
    %p= link_to(image_tag('state-badges/og-la.png', :alt => 'Louisiana'), "http://la.opengovernment.org")
    %textarea= link_to(image_tag('http://opengovernment.org/images/state-badges/og-la.png', :alt => 'Louisiana'), "http://la.opengovernment.org")

  %li 
    %p= link_to(image_tag('state-badges/og-md.png', :alt => 'Maryland'), "http://md.opengovernment.org")
    %textarea= link_to(image_tag('http://opengovernment.org/images/state-badges/og-md.png', :alt => 'Maryland'), "http://md.opengovernment.org")

  %li
    %p= link_to(image_tag('state-badges/og-tx.png', :alt => 'Texas'), "http://tx.opengovernment.org")
    %textarea= link_to(image_tag('http://opengovernment.org/images/state-badges/og-tx.png', :alt => 'Texas'), "http://tx.opengovernment.org")


%hr

%h2.push_bottom PPF Badges


%ul.badges
  %li
    %p= link_to(image_tag('state-badges/og-big.png', :alt => 'OpenGovernment'), "http://www.opengovernment.org")
    %textarea= link_to(image_tag('http://opengovernment.org/images/state-badges/og-big.png', :alt => 'OpenGovernment'), "http://www.opengovernment.org")
  %li 
    %p= link_to(image_tag('state-badges/og-small.png', :alt => 'OpenGovernment'), "http://www.opengovernment.org")
    %textarea= link_to(image_tag('http://opengovernment.org/images/state-badges/og-small.png', :alt => 'OpenGovernment'), "http://www.opengovernment.org")

  %li 
    %p= link_to(image_tag('state-badges/og-mark.png', :alt => 'OpenGovernment'), "http://www.opengovernment.org")
    %textarea= link_to(image_tag('http://opengovernment.org/images/state-badges/og-mark.png', :alt => 'OpenGovernment'), "http://www.opengovernment.org")

