<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="ClearType" content="true">
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <title><%= @document.name %></title>
  <%= include_stylesheets :viewer %>
  <%= include_stylesheets :viewer_print, :media => 'print' %>
  <%= include_javascripts :viewer, :templates %>

</head>
<body>

<div id="links">
  <%= link_to("&larr; Return to #{@document.bill.bill_number}".html_safe, bill_path(@document.bill.session, @document.bill)) %>
</div>


<div id="DV-container">

  <div class="DV-loadingDocument"><span>Loading</span></div>
  <noscript>
    <div id="DV-noJS">
      The Document Viewer requires that you enable Javascript.
    </div>
  </noscript>

</div>


<script type="text/javascript">
  DV.load('<%= document_url(@document, :format => :json) %>', { container: '#DV-container' });
</script>

</body>
</html>