- title 'Find Your District'

- if @point
  %h1 Your Officials

  %p.districtsnear
    %strong= "Districts near #{@point.full_address}"
  %p
    - if @point.precision == "zip"
      These are the districts for your ZIP Code. To confirm your district, please enter a full street address.
    - elsif @point.precision != "address"
      = "We couldn't find your exact address, but we found your #{@point.precision}."

  - [@state.legislature, Legislature.congress].each do |leg|
    %h3[leg]= leg.name
    - [leg.upper_chamber, leg.lower_chamber].each do |chamber|
      %h4[chamber]= chamber.name
      - places_and_reps = chamber.current_legislators_by_point(@point)
      - if places_and_reps.size > 0
        - places_and_reps.each do |place, reps|
          %ul.chamber_members.lined
            = render reps, :subdomain => current_place_subdomain
      - else
        = "No legislators found."
- else
  Sorry, we couldn't find your address.

= t '.opencongress'
