- if defined? @point
  = "Districts near #{@point.full_address}"
  - if @point.precision != "address"
    = "We couldn't find your exact address, but we found your #{point.precision}."
  - if @districts.size == 0
    = "We couldn't find your district."
  %ul
    - @districts.each do |district|
      %li= district.name
  - @people.each do |person|
    = person.full_name
- else
  Sorry, we couldn't find your address.
