- if @point
  %h2 Your officials

  %p.districtsnear
    = "Districts near #{@point.full_address}"
  %p
    - if @point.precision != "address"
      = "We couldn't find your exact address, but we found your #{@point.precision}."

  - [Legislature::CONGRESS, @state.legislature].each do |leg|
    %section
      %h3[leg]= leg.name
      - [leg.upper_chamber, leg.lower_chamber].each do |chamber|
        %h4[chamber]= chamber.name
        - places_and_reps = chamber.current_legislators_by_point(@point)
        - if places_and_reps.size > 0
          - places_and_reps.each do |place, reps|
            %ul
            - reps.each do |rep|
              %li
                - if place.kind_of?(District)
                  = "#{place.name}: "
                = link_to rep.official_name, person_url(rep, :subdomain => @state.abbrev)
        - else
          = "No representatives found."
- else
  Sorry, we couldn't find your address.
