- if @point
  - if @state && State.supported.include?(@state)
    = "Districts near #{@point.full_address}"
    - if @point.precision != "address"
      = "We couldn't find your exact address, but we found your #{@point.precision}."
    - if @districts.size == 0
      = "We couldn't find your district."
    %h2 Your Senators
    %ul
      - @senators.each do |person|
        %li= person.full_name
    %h2 Your Representatives
    %ul
      - @representatives.each do |district, person|
        %li= "#{district.name}: #{person.nil? ? "none" : person.full_name}"
  - else
    %h2
      = "#{@state.name} is not supported yet"
    %p
      = "Please leave you your email and we will keep you posted"
    - form_tag(state_subscriptions_path) do
      = hidden_field_tag :state, @state.id
      = text_field_tag :email
      = submit_tag "Submit"
- else
  Sorry, we couldn't find your address.
