- title("#{@state.name} Bill Subjects")

= render :partial => 'shared/left_nav_toplevel'

%h1 #{@state.name} Bill Subjects
%div.grid_12
  - unless params[:all]
    %p
      Showing popular subjects.
      = link_to("Show all subjects instead", {:all => 't'})

  = will_paginate @subjects


  %ul.subjects
    = render @subjects

  = will_paginate @subjects
