- title("#{@state.name} Bill Subjects")

= render :partial => 'shared/appeal'

%h1 #{@state.name} Bill Subjects

%nav.faceted.by_letter
  - @letters.sort.each do |letter|
    - if @letter == letter
      %em= letter
    - else
      = link_to(letter, params.merge(:letter => letter).except(:page))

= paginate @subjects

%ul.subjects
  = render @subjects

= paginate @subjects
