- title("#{@state.name} Bill Subjects")

= render :partial => 'shared/appeal'

%h1 #{@state.name} Bill Subjects
- unless params[:all]
  %p
    Showing popular subjects.
    = link_to("Show all subjects instead", {:all => 't'})

%nav.faceted.by_letter
  - ('A'..'Z').each do |letter|
    - if @letter == letter
      %em= letter
    - else
      = link_to(letter, params.merge(:letter => letter).except(:page))

= will_paginate @subjects

%ul.subjects
  = render @subjects

= will_paginate @subjects
