- title(t '.committees', :which_committee => @state.name)

= render :partial => 'shared/appeal'

%h1
  = t '.committees', :which_committee => "#{@state.name} #{@committees.first && @committees.first.type_fm}"
%hr

= paginate @committees
%ul.lined
  - if @committees.size > 0
    = debug committees
    - @committees.each do |committee|
      = render(:partial => "shared/committee", :locals => {:committee => committee}
    - else
    %p Sorry, we didn't find any committees.
= paginate @committees
