- title("#{@state.name} Committees")
%h2 #{@state.name} #{@committees.first && @committees.first.type_fm} Committees
= will_paginate @committees
%ul
  - if @committees.size > 0
    - @committees.each do |committee|
      %li
        = link_to(committee.name, state_committee_path(@state, committee))
  - else
    %p Sorry, we didn't find any committees.
= will_paginate @committees