- title("#{@state.name} Committees")

= render :partial => 'shared/appeal'

%h1 #{@state.name} #{@committees.first && @committees.first.type_fm} Committees 
%hr

= will_paginate @committees
%ul.lined
  - if @committees.size > 0
    - @committees.each do |committee|
      %li
        = link_to(committee.name, committee_path(committee), :class => "modal")
  - else
    %p Sorry, we didn't find any committees.
= will_paginate @committees