- if request.xhr?
  %h2
    Members of #{@state.name}
    = link_to("#{@committee.type_fm} #{@committee.name}", committee_path(@committee))
- else
  %h2 Members of #{@state.name} #{@committee.type_fm} #{@committee.name}

%hr

.grid_6.alpha
  %ul
    - @committee.committee_memberships.each do |membership|
      %li
        - if membership.person_id
          = succeed ',' do
            = link_to(membership.person.official_name, person_path(membership.person))
          = membership.role.titleize
        - else
          = succeed ',' do
            = membership.full_name
          = membership.role.titleize
      
-#  .grid_6.omega
-#    %h2 Basic Info
-#    %p
-#      %ul
-#        - unless @committee.type_fm.blank?
-#          %li
-#            Type:
-#            = @committee.type_fm
-#        - unless @committee.url.blank?
-#          %li
-#            Website: 
-#            = @committee.url ? link_to_with_domain(@committee.name, @committee.url) : @committee.name
-#