%h2= t '.sign_in'
%p= t '.only_oc_sign_ins'

= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %p
    = f.label :email, t('.username')
    %br/
    = f.text_field :email, :class => 'field'
  %p
    = f.label :password, t('.password')
    %br/
    = f.password_field :password, :class => 'field'
  - if devise_mapping.rememberable?
    %p
      = f.check_box :remember_me
      = f.label :remember_me, t('.remember_me')
  %p= f.submit t('.sign_in'), :class => 'button'
= render :partial => "devise/shared/links"
