.key_vote_action
  .caveat This text refers to the #{key_vote.stage} in the #{key_vote.level}.
  .synopsis= key_vote.synopsis
  .key_vote_highlight= key_vote.highlight
  .source= link_to(key_vote.url)
