%div= vote.date
%div= "#{vote.passed? ? "Passed": "Did Not Pass"}"
%div= "Motion: #{vote.motion}"
%span= "YES count: #{vote.yes_count}, "
%span= "NO count: #{vote.no_count}, "
%span= "Other count: #{vote.other_count}"
