%p
  = "Motion: #{vote.motion}"
  %div
    = "YES count: #{vote.yes_count}"
  %div
    = "NO count: #{vote.no_count}"
  %div
    = "Other count: #{vote.other_count}"
  %div
    = "Passed: #{vote.passed? ? "Yes": "No"}"
