-# Accepts a vote and (optionally) a bill and person, returns a vote summary.
-# If no bill is passed in, show the motion without the bill number and title.
-# If a person is passed in, show the person's vote as a column.
%tr{:class => vote.committee? ? 'committee-vote' : ''}
  %td.vote_date= vote.date.to_html

  %td.vote-motion
    - if defined?(bill)
      %span
        = succeed(': ') do
          = link_to(bill.bill_number, bill_path(bill.session, bill))
        = link_to(vote.motion, vote_path(vote))
    - else
      %span= link_to(vote.motion, vote_path(vote))
    - if vote.committee_name
      %span.vote-committee-name= vote.committee_name + ' Committee'
    - unless vote.kind_fm.blank?
      %span.vote-kind= vote.kind_fm
  - if defined?(roll_call)
    %td
      %strong= roll_call.vote_type.capitalize
  %td.votes
    %span.total-votes.rounded= vote.total_count
    %span.small-label total votes
  %td.votes{:class => vote.passed? ? 'vote-passed' : ''}
    %span.vote-yes.rounded= vote.yes_count.round
    %span.small-label yes votes
  %td.votes{:class => vote.passed? ? '' : 'vote-failed'}
    %span.vote-no.rounded= vote.no_count.round
    %span.small-label no votes
  %td.votes
    %span.other-votes.rounded= vote.other_count.round
    %span.small-label other votes

  %td.vote-bar
    %span{:class => 'vote-yes-block', :style => "width: #{vote.yes_pct}%;"} &nbsp;
    %span{:class => 'vote-no-block', :style => "width: #{vote.no_pct}%;"} &nbsp;
    %span{:class => 'vote-other-block', :style => "width: #{vote.other_pct}%;"} &nbsp;
    %span{:class => 'vote-needed', :style => "width: #{vote.needed_to_pass_pct}%;"} &nbsp;
