%h3
  = @person.official_name

%h4 Votes

- @person.roll_calls.each do |roll_call|
  %p.span-24
    %div.span-20
      - bill = roll_call.vote.bill
      - vote = roll_call.vote
      %div
        = link_to "#{bill.bill_number}: #{bill.title}", bill_path(bill.state, bill.session, bill)
      %span
        = "YES count: #{vote.yes_count}, "
      %span
        = "NO count: #{vote.no_count}, "
      %span
        = "Other count: #{vote.other_count}, "
      %span
        = "Passed: #{vote.passed? ? "Yes": "No"}"
      %div
        = "Motion: #{vote.motion}"
    %p.span-3
      = roll_call.vote_type.upcase
