
%div.span-24.last
  %h3
    = @person.official_name

  %h4 Votes
  %div.span-24.last
    %table
      %thead
        %tr
          %th Bill & Motion
          %th #{@person.first_name}'s vote
      %tbody
      - @person.roll_calls.each do |roll_call|
        %tr
          - bill = roll_call.vote.bill
          - vote = roll_call.vote
          %td
            %div
              = link_to "#{bill.bill_number}: #{bill.title}", bill_path(bill.state, bill.session, bill)
              = render :partial => "votes/vote", :locals => {:vote => vote}
          %td
            = roll_call.vote_type.capitalize
