- title("Vote on #{@vote.bill.bill_number}")
%h2
  %strong= "#{@vote.bill.bill_number}"
  %span= @vote.bill.title

.full_lined.vote_results
  = render :partial => 'votes/vote', :locals => {:vote => @vote}

- unless @vote.roll_calls
  %div Sorry, no roll call is available for this vote.
- else
  - @vote.roll_calls_by_vote_type.each do |vote_type, roll_calls|
    .span-8
      #{vote_type.capitalize} Votes
      %ul.roll_call
        - roll_calls.each do |roll_call|
          -# TODO: This triggers a query for every roll call. Should only trigger one query.
          %li(class="vote_#{roll_call.person.roles.on_date(@vote.date).first.party_abbr}_#{vote_type}")
            = link_to roll_call.person.full_name, person_path(roll_call.person)
