- title("Vote on #{@vote.bill.bill_number}")
%h2
  %strong= "#{@vote.bill.bill_number} - Motion: #{@vote.motion}"
  %span= @vote.bill.title
  %span= @vote.date
  %span= "Vote in the " + @vote.chamber.name

.span-8
  = vote_map_img(@state, @vote.id)
  = vote_legend_img
.span-16.last
  %table.vote_results
    %tr
      %th.first.label Yes
      %td.first.label!= @vote.passed? ? '&radic;' : ''
      %td.first.label= @vote.yes_count
      %td(rowspan=3 class="vote_chart")= vote_chart_img(@vote.id)
    %tr
      %th.label No
      %td.label!= @vote.passed? ? '' : '&radic;'
      %td.label= @vote.no_count
    %tr
      %th.last.label Other
      %td.last.label
      %td.last.label #{@vote.other_count}

- unless @vote.roll_calls
  %div Sorry, no roll call is available for this vote.
- else
  - @vote.roll_calls_by_vote_type.each do |vote_type, roll_calls|
    .span-8
      #{vote_type.capitalize} Votes
      %ul.roll_call
        - roll_calls.each do |roll_call|
          -# TODO: This triggers a query for every roll call. Should only trigger one query.
          %li(class="vote_#{roll_call.roles.first.party_abbr}_#{vote_type}")
            = link_to roll_call.person.full_name, person_path(roll_call.person)
