.grid_16
  %ul.footer
    %li= link_to 'Our blog', 'http://blog.opengovernment.org'
    %li= link_to 'Resources', '/help/resources'
    %li= link_to 'API', '/help/api'
    %li= link_to 'Volunteer', '/help/volunteer'
    %li= link_to 'Wiki', 'http://www.opencongress.org/wiki'
    %li= link_to 'Feedback', 'http://support.opencongress.org/anonymous_requests/new'
    %li= link_to 'Mailing List', 'http://crm.ppolitics.org/'