%div.footer.container_16
  .grid_4
    %h4 About Us 
    %ul
      %li= link_to 'About OpenGovernment', '/pages/about'
      %li= link_to 'Our Data Sources', '/pages/about'
      %li= link_to 'Blog', 'http://blog.opengovernment.org'
      %li= link_to 'User Support / Contact Us', 'http://support.opencongress.org/anonymous_requests/new'
      %li= link_to 'Join Our Email List', 'http://crm.ppolitics.org/' 
  
  .grid_4
    %h4 More OpenGovernment 
    %ul
      %li= link_to 'Social Media Accounts', '/pages/contact'
      %li= link_to 'Wiki Community Project', 'http://www.opencongress.org/wiki/Project:OpenGovernment'
      %li= link_to 'Tools / Resources / Goodies', '/pages/resources'
      %li= link_to 'Developers / API / Code', '/pages/about'
      %li= link_to 'Wish List / Roadmap / Stuff We Need', '/pages/about'
  
  .grid_4
    %h4 Get Involved
    %ul
      %li= link_to 'Volunteer', '/pages/help'
      %li= link_to 'Donate', 'http://www.opencongress.org/donate'
      %li= link_to 'OpenGovData Campaign', '/pages/help'
      %li= link_to 'Bring OG To Your State & City', '/pages/help'
      %li= link_to 'OpenCongress - U.S. Congress', 'http://www.opencongress.org/'

  .grid_4
    %h4 Our Principles 
    %ul
      %li Free to everyone
      %li Open-source 
      %li Open standards 
      %li Not-for-profit 
      %li Non-partisan 

  .clearfix


.sub_footer
  .grid_16
    %p OpenGovernment is a joint project of two 501(c)3 non-profit organizations, the <a href="http://www.participatorypolitics.org/">Participatory Politics Foundation</a> and the <a href="http://sunlightfoundation.com/">Sunlight Foundation</a>, with legislative data from the <a href="http://openstates.sunlightlabs.com/">Open States Project</a>.
      
  .clearfix