%hr
.grid_16
  .grid_8.alpha
    %nav.footer
      %ul
        %li= link_to 'Our blog', 'http://blog.opengovernment.org'
        %li= link_to 'Goodies', '/help/goodies'
        %li= link_to 'API', '/help/api'
        %li= link_to 'Volunteer', '/help/volunteer'
        %li= link_to 'Wiki', 'http://www.opencongress.org/wiki'
        %li= link_to 'Feedback', '/help/feedback'

