!!! 5
%html
  %head
    %meta(charset="utf-8")

    %meta(name="apple-mobile-web-app-status-bar-style" content="black")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="viewport" content="user-scalable=no, width=device-width")
    %link(rel="apple-touch-icon-precomposed" href="/images/home_screen.png")

    = csrf_meta_tag
    = include_stylesheets :common, :please_break_these_out
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold'
    <!--[if !IE]>-->
    <link type="text/css" rel="stylesheet" media="only screen and (max-width: 480px)" href="/stylesheets/iphone.css">
    <!--<![endif]-->

    <!--[if lt IE 9]>
    %script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
    <![endif]-->
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"
    = include_javascripts :common

    - if content_for? :js_hook
      %script(type="text/javascript")
        = yield :js_hook

    = yield :head
    %title= "OpenGovernment - " + (yield(:title) || "revealing state and local government data")
  %body
    %div.container_16
      %div.skip-link.screen-reader-text
        %a(href="#content" title="Skip to content") Skip to content
      %header
        #account.grid_9.alpha
          .grid_8.alpha.omega
            Hello,
            %a.account(href="#content" title="Username") Morgan.
            %a.help(href="#content" title="Help Center") Help
        - if current_place
          .grid_7.omega.search
            = render :partial => 'shared/search_form'

     
    %div.container_16.bread
      %ul.breadcrumb
        %li.topnav
          %a{:href => root_path}
            %strong OpenGovernment
            = current_place_name
          %a#dropdown{:href => '#'}
          %ul.state-select
            - State.loadable.each do |state|
              %li= link_to state.name, state_url(state)
        = render_navigation(:renderer => SimpleNavigation::Renderer::Bread)
  
  
    %div.container_16.main
      %div#flash
        - flash.each do |key, value|
          %div(id="flash_#{key}")
            =h value
      %div.content
        -# :content can be yielded by nested templates eg. static.html.haml
        = content_for?(:content) ? yield(:content) : yield
      %br
      .clearfix


    .clearfix

    %div.container_16
      %div.footer
        = render :partial => 'layouts/footer'
      .clearfix
