!!! 5
%html
  %head
    %meta(charset="utf-8")
    = include_stylesheets :basic
    <!--[if lt IE 9]>
    %script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
    <![endif]-->
    = javascript_include_tag 'jquery-1.4.2.min.js'
    = yield :head
    %title= "OpenGovernment - " + (yield(:title) || "revealing state and local government data")
  %body
    %div.container
      %header
        %h1= link_to 'OpenGovernment', '/'
        %nav
          %ul
            %li.home_page= link_to 'Home', '/'
            %li.your_district= link_to 'Your District', '/'
            %li.your_account= link_to 'Your Account', '/'
            %li.about= link_to 'About', '/'
            %li.sign_out= link_to 'Sign Out', '/'
        = render :partial => 'shared/share_tools', :locals => {:message => "Share this", :title => (yield(:title) || "OpenGovernment"), :url => request.url}
      %div#flash
        - flash.each do |key, value|
          %div(id="flash_#{key}")
            =h value
      = yield