!!! 5
%html
  %head
    %meta(charset="utf-8")

    %meta(name='apple-mobile-web-app-status-bar-style' content='black')
    %meta(name='apple-mobile-web-app-capable' content='yes')
    %link(rel='apple-touch-icon-precomposed' href='/images/home_screen.png')

    = csrf_meta_tag
    = include_stylesheets :common, :other, :media => 'all'
    :javascript
      var _sf_startpt=(new Date()).getTime()

    <!--[if lt IE 9]>
    %script(src='//html5shim.googlecode.com/svn/trunk/html5.js')
    = include_stylesheets :ie8
    <![endif]-->

    -# jQuery & jQuery UI via http://code.google.com/apis/libraries/devguide.html
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"
    = include_javascripts :common

    - if content_for? :js_hook
      %script(type='text/javascript' charset='UTF-8')
        = yield :js_hook

    = yield :head

    %title= t('site.name') + " - " + (content_for?(:title) ? yield(:title) : t('site.tagline'))

  %body{:id => 'wrap', :class => page_class + (current_place_subdomain.blank? ? '' : ' ' + current_place_subdomain)}
    %header= render 'layouts/header'

    #main
      -# our #content yield happens in here!
      = render 'layouts/main'

    %footer#footer= render 'layouts/footer'

    %script(type='text/javascript' charset='UTF-8')
      = yield :js_footer

    - if Rails.env == 'production'
      = render 'shared/analytics'
