<!DOCTYPE html>

<html>
<head>
   <meta charset="utf-8" />
   <link rel="stylesheet" href="http://frame.serverboy.net/latest/" type="text/css">
   <%= formtastic_stylesheet_link_tag %>
   <!--[if IE]>
   <%= javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js' %>
   <![endif]-->
  <%= javascript_include_tag 'jquery-1.4.2.min.js' %>
  <script type='text/javascript'>
    $.noConflict();
  </script>

   <style>
     article, aside, dialog, figure, footer, header,
     hgroup, menu, nav, section { display: block; }

     body{
       margin: 0;
       padding: 0;
     }
     
   </style>
 	<title>OpenGovernment - <%= yield(:title) || "revealing state and local government data" %></title>
</head>
<body>
<div id="container">
   <div id="flash">
     <% flash.each do |key, value| -%>
       <div id="flash_<%= key %>"><%=h value %></div>
     <% end -%>
   </div>
   <%= yield %>
</div>
</body>
</html>
