!!! 5
%html
  %head
    %meta(charset="utf-8")
    = csrf_meta_tag
    = stylesheet_link_tag "formtastic"
    = stylesheet_link_tag "formtastic_changes"
    = stylesheet_link_tag "blueprint"
    = stylesheet_link_tag "forms"
    = stylesheet_link_tag "sharing"
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "type"
    = stylesheet_link_tag "html5"
    = stylesheet_link_tag "layout"
    = stylesheet_link_tag "breadcrumb"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold'

    <!--[if lt IE 9]>
    %script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
    <![endif]-->
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"
    = javascript_include_tag "jquery.rails.js"
    = javascript_include_tag "application"

    - if content_for? :js_hook
      %script(type="text/javascript")
        = yield :js_hook

    = yield :head
    %title= "OpenGovernment - " + (yield(:title) || "revealing state and local government data")
  %body
    %div.container
      %header
        #account
          %p 
            Hello, 
            %a.account(href="#content" title="Username") Morgan.
            %a.help(href="#content" title="Help Center") Help
        %nav
          %div.skip-link.screen-reader-text
            %a(href="#content" title="Skip to content") Skip to content
          %ul.breadcrumb
            %li
              %a{:href => root_path} OpenGovernment #{current_place_name}
              %ul.state-select
                - State.loadable.each do |state|
                  %li= link_to state.name, state_url(state)
            = raw render_breadcrumbs :tag => :li, :separator => ''
        %aside
          = render :partial => 'shared/share_tools', :locals => {:message => "Share this", :title => (yield(:title) || "OpenGovernment"), :url => request.url}
      %div#flash
        - flash.each do |key, value|
          %div(id="flash_#{key}")
            =h value
      %div.content
        = yield
      %div.footer
        = render :partial => 'layouts/footer'