!!! 5
%html
  %head
    %meta(charset="utf-8")

    %meta(name="apple-mobile-web-app-status-bar-style" content="black")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="viewport" content="user-scalable=no, width=device-width")
    %link(rel="apple-touch-icon-precomposed" href="/images/home_screen.png")

    = csrf_meta_tag
    = include_stylesheets :common, :other
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold&subset=latin'
    <!--[if !IE]>-->
    <link type="text/css" rel="stylesheet" media="only screen and (max-width: 480px)" href="/stylesheets/iphone.css">
    <!--<![endif]-->

    <!--[if lt IE 9]>
    %script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
    <![endif]-->
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"
    = include_javascripts :common

    - if content_for? :js_hook
      %script(type='text/javascript' charset='UTF-8')
        = yield :js_hook

    = yield :head
    %title= t('site.name') + " - " + (content_for?(:title) ? yield(:title) : t('site.tagline'))
  %body{:class => page_class}

    %div.container_16
      %div.skip-link.screen-reader-text
        %a(href="#content" title="Skip to content") Skip to content
      %header
        #account.grid_9.alpha
          .grid_9.alpha.omega
            %strong
              = link_to t('site.name'), home_url(:subdomain => false)  
 
            %ul.breadcrumb
              %li.topnav
                %a{:href => root_url(:subdomain => current_place_subdomain)}
                  = current_place_name || t('site.select_state')
                %a#dropdown{:class => 'dropdown', :href => '#'}
                .state-select
                  %span.triangle
                  %ul
                    - State.loadable.each do |state|
                      %li.state_name= link_to state.name, state_url(state)
            %span.beta Beta

            - if current_user
              = succeed(',') do
                = t('site.greeting')
              %a.account(href="#content" title="Username") #{current_user.login}.
              = link_to(t('site.sign_out'), destroy_user_session_path)
            - else
              = link_to(t('site.sign_in'), new_user_session_path, :class => 'modal')
            %a.help{:href => page_url('site-help'), :title => "Help Center"} Help
        - if current_place
          .grid_7.omega.search_form
            = render 'shared/search_form'

    %div.container_16.main.boxxed
      - unless flash.empty?
        %div#flash
          - flash.each do |key, value|
            %div(id="flash_#{key}")
              =h value
      %div.content
        - if content_for?(:content)
          -# :content can be yielded by nested templates eg. pages.html.haml
          = yield(:content)
        - else
          = yield :before_left_nav
          .grid_4
            - if !default_session?
              %p.prior_session #{current_session_name} session; #{link_to 'return to current', root_path}
            %nav#left_nav
              = content_for?(:left_nav) ? yield(:left_nav) : (render_navigation(:level => 1..2) || raw('&nbsp;'))
            = yield :below_left_nav

          .grid_12
            = yield
      %br
      .clearfix

    .clearfix

    = render 'layouts/footer'
    .clearfix
    
    %script(type='text/javascript' charset='UTF-8')
      = yield :js_footer
