= content_for(:content) do
  .grid_4
    %nav#left_nav
      = content_for?(:left_nav) ? yield(:left_nav) : (render_navigation || raw('&nbsp;'))
    = yield :below_left_nav

  .grid_12  
    %aside.full_lined.share_top
      .share_callout
        %strong
          = t '.spread_the_word'
        = t '.about_og' 
      = render :partial => 'shared/share_tools', :locals => {:message => "Share", :title => (yield(:title) || "OpenGovernment"), :url => request.url}

    - if content_for?(:title)
      %h1.clearboth.alpha= yield(:title)
    = yield

= render :file => 'layouts/application'
